.type-25-21 .content2 {
  color: #73879C;
  font-size: 13px;
}
.type-25-21 .content2 a {
  color: #5A738E;
  text-decoration: none;
}
.type-25-21 .content2 .x_panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
}
.type-25-21 .content2 .x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}
.type-25-21 .content2 .x_title .navbar-right {
  margin-right: 0px;
}
.type-25-21 .content2 h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 18px;
  font-weight: 400;
}
.type-25-21 .content2 .navbar-right {
  float: right;
}
.type-25-21 .content2 .panel_toolbox>li {
  float: left;
  cursor: pointer;
}
.type-25-21 .content2 .panel_toolbox>li>a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.type-25-21 .content2 dropzone.dz-clickable {
  cursor: pointer;
}
.type-25-21 .content2 .dropzone {
  min-height: 300px;
  border: 1px solid #e5e5e5;
  background: #fff;
  padding: 20px 20px;
}
.type-25-21 .content2 .dropzone .dz-message {
  text-align: center;
  margin: 2em 0;
}
