.type-25-3 .content3 {
  color: #73879C;
  font-size: 13px;
}
.type-25-3 .content3 .x_panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
  height: 300px;
}
.type-25-3 .content3 .x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.type-25-3 .content3 .x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 18px;
  font-weight: 400;
}
.type-25-3 .content3 .panel_toolbox>li {
  float: left;
  cursor: pointer;
}
.type-25-3 .content3 .panel_toolbox>li>a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.type-25-3 .content3 .x_content {
  padding: 0 5px 6px;
  float: left;
  clear: both;
  margin-top: 5px;
  width: 100%;
}
.type-25-3 .content3 .x_content h4 {
  font-size: 16px;
  font-weight: 500;
}
.type-25-3 .content3 .widget_summary {
  width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.type-25-3 .content3 .widget_summary .w_left {
  float: left;
  text-align: left;
}
.type-25-3 .content3 .widget_summary .w_25 {
  width: 25%;
}
.type-25-3 .content3 .widget_summary .w_55 {
  width: 55%;
}
.type-25-3 .content3 .widget_summary .w_55 .progress {
  border-radius: 0px;
}
.type-25-3 .content3 .widget_summary .w_55 .bg-green {
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff;
}
.type-25-3 .content3 .widget_summary .w_20 {
  width: 20%;
  float: right;
  text-align: right;
}
.type-25-3 .content3 .widget_summary .w_20 span {
  font-size: 20px;
}
.type-25-3 .content3 table.tile_info td:first-child {
  width: 83%;
}
.type-25-3 .content3 table.tile_info td {
  text-align: left;
  padding: 1px;
  font-size: 14px;
}
.type-25-3 .content3 table.tile_info td i {
  margin-right: 2px;
  float: left;
  line-height: 23px;
}
.type-25-3 .content3 .blue {
  color: #3498DB;
}
.type-25-3 .content3 .green {
  color: #1ABB9C;
}
.type-25-3 .content3 .purple {
  color: #9B59B6;
}
.type-25-3 .content3 .aero {
  color: #9CC2CB;
}
.type-25-3 .content3 .red {
  color: #E74C3C;
}
.type-25-3 .content3 ul.quick-list {
  width: 45%;
  padding-left: 0;
  list-style: none;
  padding: 0px;
}
.type-25-3 .content3 ul.quick-list li {
  padding-left: 10px;
  list-style: none;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 4px;
}
.type-25-3 .content3 ul.quick-list li i {
  padding-right: 10px;
  color: #757679;
}
.type-25-3 .content3 ul.quick-list a {
  color: #5A738E;
  text-decoration: none;
}
.type-25-3 .content3 ul.quick-list a:hover {
  color: #23527c;
}
.type-25-3 .content3 p {
  padding: 0px;
}
.type-25-3 .content3 .sidebar-widget {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  border: 1px solid #abd9ea;
  border-radius: 5px;
  text-align: center;
  float: right;
  padding: 2px;
  margin-top: -196px;
}
.type-25-3 .content3 .sidebar-widget h4 {
  font-size: 15px;
  font-weight: 500;
}
@media (max-width: 1200px) {
  .type-25-3 .x_title h2 {
    width: 62%;
    font-size: 13px;
  }
}
@media (max-width: 1200px) {
  .type-25-3 a {
    font-size: 11px;
  }
  .type-25-3 table.tile_info td {
    text-align: left;
    padding: 1px;
    font-size: 11px;
  }
  .type-25-3 p {
    font-size: 11px;
  }
  .type-25-3 .widget_summary .w_20 span {
    font-size: 15px;
  }
  .type-25-3 .x_content h4 {
    font-size: 13px;
    font-weight: 500;
  }
}
