/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2017, 2:49:40 PM
    Author     : Administrator
*/

@color: #73879C;
@list-style: none;
@text-decoration: none;
@background-color: #ffffff;
@background-color-tabs: #F5F7FA;
@border-color: #e6e6e6;
@border-color-panel: #E6E9ED;
@position: relative;
@border-color-frmsearch:  rgba(221,226,232,.49);
@float-left: left;
@float-right: right;
@margin: 0;
@padding: 0;
@cursor: pointer;
@display: inline-block;
@opacity: 1;

.type-25 {
    color: @color;
    .content {
        margin-top: 10px;
        .content-left {
            display: inline-block;
            h3 {
                margin: 12px 0;
            }
        }
        .content-right {
            float: right;
            .top_search {
                padding: 0;
                margin: 10px 0;
                .input-group {
                    margin-bottom: 10px;
                }
                .form-control {
                    box-shadow: inset 0 1px 0 rgba(0,0,0,.075);
                    border-radius: 25px 0 0 25px;
                    padding-left: 20px;
                    border: 1px solid rgba(221,226,232,.49);
                }
                .input-group-btn {
                    button {
                        border-radius: 0 25px 25px 0;
                        border: 1px solid rgba(221,226,232,.49);
                        border-left: 0;
                        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                        color: #93A2B2;
                        margin-bottom: 0!important;
                    }
                }
            }
        }
    }
    .admin-panel {
        width: 100%;
        padding: 10px 17px;
        display: @display;
        background-color: @background-color;
        border: 1px solid @border-color-panel;
        opacity: @opacity;
        transition: all .2s ease;
        margin-bottom: 10px;
        position: @position;

        .admin-title {
            border-bottom: 2px solid @border-color-panel;
            padding: 1px 5px 6px;
            h3 {
                margin: 5px 0 6px;
                float: @float-left;
                display: block;
                font-size: 18px;
                small {
                    margin-left: 5px;
                }
            }
            ul.items {
                margin-right: @margin;
                min-width: 70px;
                float: @float-right;
                list-style: @list-style;
                margin-top: 5px;
                li {
                    float: @float-left;
                    cursor: @cursor;
                    a {
                        padding: 5px;
                        color: #C5C7CB;
                        font-size: 13px;
                    }
                }
                li.dropdown {
                    ul.dropdown-menu {
                        min-width: 0!important;
                    }
                }
                .collapse-link, .close-link {
                    opacity: @opacity;
                }
            }
        }
        .admin-content {
            margin: 20px 8px;

            .avartar-profile {
                h4.name-profile {
                    font-size: 24px;
                }
                .info-profile {
                    i {
                        margin: 8px @margin;
                    }
                }
                .btn-edit {
                    margin-top: 10px;
                    a {
                        padding: 7px 5px;
                        color: #ffffff;
                        background-color: #26B99A;
                        border: 1px solid #169F85;
                        text-decoration: @text-decoration;
                        border-radius: 3px;
                    }
                    a:hover {
                        background-color: #169F85;
                    }
                }
                .skills {
                    padding: 12px 0;
                    h4 {
                        font-weight: normal;
                    }
                    p {
                        margin-bottom: @margin;
                    }
                    .progress {
                        max-width: 90%;
                        height: 10px;
                        .progress-bar {
                            height: 10px!important;
                            background-color: #1ABB9C;
                        }
                    }
                }

            }
            .user-report {
                background-color: #F5F7FA;
                padding: 7px 10px;
                .show-calendar {
                    margin-top: 5px;
                    float: @float-right;
                    border: 1px solid #E6E9ED;
                    cursor: @cursor;
                    padding: 5px 10px;
                    background-color: @background-color;
                    #datepicker {
                        border: none;
                        color: @color;
                    }
                }

            }
            #chartSkillsContainer {
                height: 350px;
            }

            ul.nav-tabs {
                margin-top: 15px;
                padding-left: 10px;
                background-color: @background-color-tabs;
                li {
                    color: #333!important;
                    background-color: @background-color-tabs;
                    border-bottom: none;
                    border-radius: 4px 4px 0 0;
                    a {
                        color: #5A738E;
                    }
                }
            }
            .tab-content {
                padding: 10px @padding;
                #menu1, #menu2 {
                    padding: @padding;
                }
                #home {
                    ul.comments {
                        list-style: @list-style;
                        padding: @padding;
                        margin: @margin;
                        li {
                            border-bottom: 1px dotted @border-color;
                            padding: 8px @padding;

                            .img-user {
                                height: 32px;
                                width: 32px;
                                float: @float-left;
                                display: @display;
                                border-radius: 2px;
                                padding: 2px;
                                background-color: #f7f7f7;
                                border: 1px solid @border-color;
                            }
                            .comment-content {
                                margin-left: 50px;
                                h4 {
                                    margin: @margin @margin 10px;
                                    cursor: @cursor;
                                    font-weight: bold;
                                }
                                .content {
                                    padding: @padding 10px;
                                    margin: @margin;
                                    border-left: 5px solid #eee;
                                }
                                a.link-file {
                                    text-decoration: @text-decoration;
                                    color: @color;
                                }
                            }
                            .date-comment {
                                float: @float-right;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 980px) {
    .content {
        .content-left {
            h3 {
                font-size: 16px;
            }
        }
        .content-right {
            margin-top: -5px;
        }
    }
}