.dashboard3 {
  background: #2A3F54;
}
.dashboard3 .left_col {
  border: none;
  min-height: 100%;
  z-index: 998;
  padding: 0;
  background: #2A3F54;
}
.dashboard3 .left_col .nav-sidemenu .nav_logo {
  width: 100%;
  float: left;
  background: #2A3F54;
  border-radius: 0;
  height: 57px;
  white-space: nowrap;
}
.dashboard3 .left_col .nav-sidemenu .nav_logo .site_title {
  text-decoration: none;
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  line-height: 59px;
  display: block;
  height: 55px;
  margin: 0;
  padding-left: 10px;
  color: #ECF0F1 !important;
  margin-left: 0 !important;
}
.dashboard3 .left_col .nav-sidemenu .nav_logo .site_title i {
  border: 1px solid #EAEAEA;
  padding: 5px 6px;
  border-radius: 50%;
}
.dashboard3 .left_col .nav-sidemenu .nav_logo .site_title:hover {
  text-decoration: none;
}
.dashboard3 .left_col .nav-sidemenu .nav_profile .profile_pic {
  width: 35%;
  float: left;
}
.dashboard3 .left_col .nav-sidemenu .nav_profile .profile_pic .profile_img {
  width: 70%;
  background: #fff;
  margin-left: 15%;
  z-index: 1000;
  position: inherit;
  border: 1px solid rgba(52,73,94,0.44);
  padding: 4px;
}
.dashboard3 .left_col .nav-sidemenu .nav_profile .profile_info {
  padding: 6px 10px 10px;
  width: 65%;
  float: left;
}
.dashboard3 .left_col .nav-sidemenu .nav_profile .profile_info span {
  font-size: 13px;
  line-height: 30px;
  color: #BAB8B8;
}
.dashboard3 .left_col .nav-sidemenu .nav_profile .profile_info h2 {
  font-size: 14px;
  color: #ECF0F1;
  margin: 0;
  font-weight: 300;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu {
  padding: 0;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list {
  margin-bottom: 35px;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list h3 {
  padding-left: 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 0px;
  margin-top: 25px;
  text-shadow: 1px 1px #000;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list .live-on {
  margin-bottom: 10px !important;
  margin-top: 30px !important;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu {
  margin-top: 10px;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: transparent !important;
  border: none !important;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li a:focus {
  border-right: 4px solid #1ABB9C;
  text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
  background: linear-gradient(#334556,#2C4257), #2A3F54;
  box-shadow: rgba(0,0,0,0.25) 0 1px 0, inset rgba(255,255,255,0.16) 0 1px 0;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li a:hover {
  background: none;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li a {
  color: #E7E7E7;
  font-weight: 500;
  padding: 13px 15px 12px;
  position: relative;
  display: block;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li a .fa {
  width: 26px;
  opacity: .99;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li a .fa-chevron-down {
  text-align: right !important;
  margin-right: 4px;
  float: right;
  margin-top: 5px;
  min-width: inherit;
  color: #C4CFDA;
  font-size: 12px;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li a .down {
  font-size: 10px !important;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li .child_menu {
  border-right: 4px solid #1ABB9C;
  padding-left: 36px;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li .child_menu a {
  margin-bottom: 0;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li .child_menu li:after {
  bottom: 0;
  content: "";
  left: -12px;
  position: absolute;
  top: 0;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li .child_menu li:before {
  background: #425668;
  bottom: auto;
  content: "";
  height: 8px;
  left: -16px;
  margin-top: 15px;
  position: absolute;
  right: auto;
  width: 8px;
  z-index: 1;
  border-radius: 50%;
}
.dashboard3 .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li .label {
  padding: 4px 2px;
  text-align: center;
}
.dashboard3 .left_col .nav-sidemenu .nav_footer {
  bottom: 0;
  display: block;
  padding: 10px 0 0;
  position: fixed;
  width: 225px;
  background: #2A3F54;
  z-index: 100;
}
.dashboard3 .left_col .nav-sidemenu .nav_footer a {
  padding: 7px 0 3px;
  text-align: center;
  width: 25%;
  font-size: 17px;
  display: block;
  float: left;
  color: #5A738E;
  background: #172D44;
  cursor: pointer;
}
.dashboard3 .left_col .nav-sidemenu .nav_footer a:hover {
  background: #425567 !important;
}
.dashboard3 .right_col {
  background: #f5f5f5;
}
.dashboard3 .right_col .top-nav {
  margin-left: -15px;
  margin-right: -15px;
}
.dashboard3 .right_col .top-nav .nav_menu {
  background-color: #ededed;
  border-bottom: 1px solid #d9dee4;
}
.dashboard3 .right_col .top-nav .nav_menu #menu-toggle {
  color: #5A738E;
  font-size: 26px;
  border: none;
  background-color: #ededed;
}
.dashboard3 .right_col .top-nav .nav_menu #menu-toggle:hover {
  color: #2A3F54;
}
.dashboard3 .right_col .top-nav .navbar-right {
  margin: 0;
  width: 70%;
  float: right;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown {
  position: relative;
  float: right;
  display: inline-block;
  cursor: pointer;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown a {
  color: #515356;
  line-height: 32px;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown a img {
  max-width: none;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown ul.dropdown-menu {
  border-radius: 4px;
  width: 150px;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown ul.dropdown-menu li a {
  color: #555;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown ul.dropdown-menu li a .badge {
  background-color: red;
  margin-left: 25px;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown ul.dropdown-menu li a .fa-sign-out {
  color: #73879C;
  margin-left: 60px;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown ul.msg_list {
  width: 300px;
  position: absolute;
  background-color: #fff;
  margin-top: 0;
  border: 1px solid #D9DEE4;
  right: 0;
  left: auto;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown ul.msg_list li {
  position: relative;
  background-color: #f7f7f7;
  padding: 5px;
  margin: 6px 6px 0;
  width: 96%;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown ul.msg_list li a {
  width: 100%;
  color: #5A738E;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown ul.msg_list li a span {
  white-space: normal;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown ul.msg_list li a .image,
.dashboard3 .right_col .top-nav .navbar-right li.dropdown ul.msg_list li a .name {
  cursor: pointer;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown ul.msg_list li a .image img {
  float: left;
  margin-right: 10px;
  width: 11%;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown ul.msg_list li a .time {
  font-size: 13px;
  font-style: italic;
  font-weight: 700;
  position: absolute;
  right: 35px;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown ul.msg_list li a .msg {
  display: block;
  font-size: 13px;
  font-style: italic;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown ul.msg_list li .text-center a {
  text-decoration: none;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown ul.msg_list li:hover {
  background-color: none;
}
.dashboard3 .right_col .top-nav .navbar-right li.dropdown .info-number .badge {
  font-size: 13px;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: 2px;
  top: 8px;
  background-color: #1ABB9C;
  border: 1px solid #1ABB9C;
  color: #fff;
}
.dashboard3 .right_col .main-content .total-chart {
  padding: 20px 10px;
}
.dashboard3 .right_col .main-content .total-chart span,
.dashboard3 .right_col .main-content .total-chart h3 {
  color: #73879C;
}
.dashboard3 .right_col .main-content .total-chart h3 {
  font-size: 30px;
  line-height: 30px;
  margin: 3px 0 7px;
  font-weight: 700;
}
.dashboard3 .right_col .main-content .total-chart #chartContainer1,
.dashboard3 .right_col .main-content .total-chart #chartContainer2,
.dashboard3 .right_col .main-content .total-chart #chartContainer3,
.dashboard3 .right_col .main-content .total-chart #chartContainer4 {
  height: 120px;
}
.dashboard3 .right_col .main-content .admin-panel.admin1 {
  padding: 10px 13px;
  display: inline-block;
  background: #fff;
  width: 100%;
  border: 1px solid #E6E9ED;
  opacity: 1;
  transition: all .2s ease;
  margin-bottom: 10px;
  position: relative;
}
.dashboard3 .right_col .main-content .admin-panel.admin1 .admin-title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.dashboard3 .right_col .main-content .admin-panel.admin1 .admin-title span,
.dashboard3 .right_col .main-content .admin-panel.admin1 .admin-title .fa,
.dashboard3 .right_col .main-content .admin-panel.admin1 .admin-title .glyphicon {
  color: #BDBDBD;
}
.dashboard3 .right_col .main-content .admin-panel.admin1 .admin-title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 20px;
  color: #73879C;
}
.dashboard3 .right_col .main-content .admin-panel.admin1 .admin-title h2 small {
  margin-left: 10px;
  font-size: 13px;
}
.dashboard3 .right_col .main-content .admin-panel.admin1 .admin-title .filter-time {
  font-size: 13px;
}
.dashboard3 .right_col .main-content .admin-panel.admin1 .admin-title .filter-time .show-calendar {
  float: right;
  border: 1px solid #E6E9ED;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #fff;
}
.dashboard3 .right_col .main-content .admin-panel.admin1 .admin-title .filter-time .show-calendar #datepicker {
  border: none;
  color: 13px;
}
.dashboard3 .right_col .main-content .admin-panel.admin1 .admin-content {
  margin: 10px 0;
}
.dashboard3 .right_col .main-content .admin-panel.admin1 .admin-content #chartContainer5 {
  height: 300px;
  width: 100%;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 {
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
  transition: all .2s ease;
  margin-bottom: 10px;
  position: relative;
  margin-top: 10px;
  width: 100%;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 19px;
  color: #73879C;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-title h2 small {
  margin-left: 10px;
  font-size: 13px;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-title ul.items {
  min-width: 70px;
  list-style: none;
  margin-top: 5px;
  float: right;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-title ul.items .collapse-link,
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-title ul.items .close-link {
  opacity: 1;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-title ul.items > li {
  float: left;
  cursor: pointer;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-title ul.items > li > a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content {
  padding: 0 5px 6px;
  float: left;
  margin-top: 5px;
  width: 100%;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content h4 {
  font-size: 16px;
  color: #73879C;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .widget_summary {
  width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .widget_summary .w_left {
  float: left;
  text-align: left;
  width: 25%;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .widget_summary .w_left span {
  color: #73879C;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .widget_summary .w_center {
  width: 55%;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .widget_summary .w_center .progress {
  border-radius: 0px;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .widget_summary .w_center .bg-green {
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #ffffff;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .widget_summary .w_center span {
  color: #73879C;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .widget_summary .w_right {
  width: 20%;
  float: right;
  text-align: right;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .widget_summary .w_right span {
  font-size: 13px;
  color: #73879C;
  font-weight: bold;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content table th p {
  color: #73879C;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content #chartPieContainer {
  height: 140px;
  width: 100%;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content table.tile_info td {
  text-align: left;
  padding: 1px;
  font-size: 13px;
  color: #73879C;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content table.tile_info td i {
  margin-right: 2px;
  float: left;
  line-height: 23px;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content table.tile_info td:first-child {
  width: 83%;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .fa.blue {
  color: #3498DB;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .fa.green {
  color: #1ABB9C;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .fa.purple {
  color: #9B59B6;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .fa.aero {
  color: #9CC2CB l;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .fa.red {
  color: #E74C3C;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content ul.quick-list {
  width: 45%;
  padding-left: 0;
  float: left;
  list-style: none;
  padding: 0px;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content ul.quick-list li {
  padding-left: 10px;
  list-style: none;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 4px;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content ul.quick-list li i {
  padding-right: 10px;
  color: #73879C;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content ul.quick-list a {
  color: #73879C;
  text-decoration: none;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content ul.quick-list a:hover {
  color: #73879C;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .sidebar-widget {
  background: #fff;
  border: 1px solid #abd9ea;
  border-radius: 5px;
  text-align: center;
  float: right;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content .sidebar-widget h4 {
  font-size: 13px;
  font-weight: 500;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content p {
  padding: 0px;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content ul {
  padding: 0px;
}
.dashboard3 .right_col .main-content .admin-panel.admin2 .admin-content p {
  margin-top: 10px;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
  transition: all .2s ease;
  margin-bottom: 10px;
  position: relative;
  margin-top: 20px;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 19px;
  color: #73879C;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-title h2 small {
  margin-left: 10px;
  font-size: 13px;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-title ul.items {
  min-width: 70px;
  list-style: none;
  margin-top: 5px;
  float: right;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-title ul.items .collapse-link,
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-title ul.items .close-link {
  opacity: 1;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-title ul.items > li {
  float: left;
  cursor: pointer;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-title ul.items > li > a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 13px;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content {
  padding: 0 5px 6px;
  float: left;
  margin-top: 5px;
  width: 100%;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content .info-progress {
  color: #73879C;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content .info-progress .progress {
  height: 10px;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content .info-progress .progress .progress-bar {
  height: 10px !important;
  background: #1ABB9C;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content .info-progress #chartColumnContainer {
  width: 100%;
  height: 200px;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content .info-progress span.right {
  float: right;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content h2 {
  font-size: 14px;
  border-bottom: 2px solid #e0e0e0;
  border-top: 2px solid #e0e0e0;
  text-align: center;
  padding: 5px 0;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content h4 {
  font-size: 13px;
  color: #fff;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content #partly-cloudy-day,
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content #snow,
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content #sleet,
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content #cloudy {
  display: block;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content #clear-day {
  display: block;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content .title-weather {
  margin: 10px 0;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content .title-weather .title {
  font-size: 20px;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content .degrees {
  text-align: right;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content ul.quick-list {
  width: 45%;
  padding-left: 0;
  float: left;
  list-style: none;
  padding: 0px;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content ul.quick-list li {
  padding-left: 10px;
  list-style: none;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 4px;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content ul.quick-list li i {
  padding-right: 10px;
  color: #73879C;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content ul.quick-list a {
  color: #5A738E;
  text-decoration: none;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content ul.quick-list a:hover {
  color: #23527c;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content .sidebar-widget {
  background: #fff;
  border: 1px solid #abd9ea;
  border-radius: 5px;
  text-align: center;
  float: right;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content .sidebar-widget h4 {
  font-size: 13px;
  font-weight: 500;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content .sidebar-widget .goal-wrapper {
  display: block;
}
.dashboard3 .right_col .main-content .admin-panel.admin3 .admin-content .sidebar-widget .goal-wrapper #jqRadialGauge {
  width: 150px;
  height: 80px;
}
.dashboard3 footer {
  padding: 12px;
  color: #5A738E;
  background: #fff;
  text-align: right;
}
.dashboard3 footer a {
  text-decoration: none;
  color: #5A738E;
}
.dashboard3 footer a:hover {
  text-decoration: none;
}
.dashboard3 #back-to-top {
  border: 1px solid #4adcff;
  background: #24bde2;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 25px;
  right: 10px;
  cursor: pointer;
  display: none;
  color: #fff;
  font-size: 11px;
}
.dashboard3 #back-to-top:hover {
  border: 1px solid #ffa789;
  background: #ff6734;
}
.dashboard3.toggled {
  margin-left: -190px;
}
.dashboard3.toggled .nav-sidemenu {
  display: none;
}
.dashboard3.toggled .nav-sidemenu .hidden-small {
  opacity: 1 !important;
}
.dashboard3.toggled .right_col {
  background: #f5f5f5 !important;
}
.dashboard3.toggled .nav_response {
  display: block;
  margin-left: 190px;
}
.dashboard3.toggled .nav_response .logo-res {
  border: 1px solid #fff;
  border-radius: 50px;
  margin-top: 14px;
  width: 47px !important;
}
.dashboard3.toggled .nav_response .logo-res a {
  font-size: 30px;
  color: #ffffff;
  margin-left: 9px;
}
.dashboard3.toggled .nav_response nav.menu-res {
  text-align: center;
}
.dashboard3.toggled .nav_response nav.menu-res ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.dashboard3.toggled .nav_response nav.menu-res ul li.dropdown {
  margin: 25px 0;
}
.dashboard3.toggled .nav_response nav.menu-res ul li.dropdown a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}
.dashboard3.toggled .nav_response nav.menu-res ul li.dropdown a i {
  font-size: 25px;
}
.dashboard3.toggled .nav_response nav.menu-res ul li.dropdown a small {
  font-size: 10px;
}
.dashboard3.toggled .nav_response nav.menu-res ul li.dropdown ul.dropdown-menu {
  position: absolute;
  top: 0;
  margin-left: 50px;
  padding: 0;
  border-right: 3px solid #1ABB9C;
}
.dashboard3.toggled .nav_response nav.menu-res ul li.dropdown ul.dropdown-menu li {
  width: 200px !important;
  text-align: left;
  background-color: #2A3F54;
  padding: 3px 0;
}
.dashboard3.toggled .nav_response nav.menu-res ul li.dropdown ul.dropdown-menu li a:hover {
  background-color: rgba(255,255,255,0.05);
}
.dashboard3.toggled .nav_response nav.menu-res ul li.dropdown ul.dropdown-menu li.active a {
  background-color: rgba(255,255,255,0.05) !important;
}
.dashboard3.toggled .nav_response nav.menu-res ul li.dropdown .label {
  margin-right: -5px;
  font-size: 7px;
  padding: 2px 0;
}
@media (max-width: 1310px) {
  .dashboard3 {
    background-color: #2A3F54;
  }
  .dashboard3 .nav-sidemenu {
    display: none;
  }
  .dashboard3 .right_col {
    width: 100% !important;
  }
  .dashboard3 .nav_response {
    display: none;
  }
  .dashboard3 .logo-res {
    margin: 10px -3px;
  }
  .dashboard3 .menu-res {
    margin: 35px 0;
  }
  .dashboard3.toggled {
    background-color: #2A3F54;
    margin-left: 75px;
  }
  .dashboard3.toggled .nav-sidemenu {
    display: none;
  }
  .dashboard3.toggled .nav_response {
    display: block;
    position: absolute;
    top: 0;
    left: -245px;
    width: 45px;
  }
  .dashboard3.toggled .nav_response ul li.dropdown ul.dropdown-menu {
    margin-left: 54px !important;
  }
}
@media (max-width: 980px) {
  .dashboard3 {
    background-color: #2A3F54 !important;
  }
  .right_col {
    transition: none !important;
  }
  .right_col .navbar-right li.dropdown ul.dropdown-menu {
    margin-left: -16px;
  }
  .right_col .content .content-left h3 {
    font-size: 22px;
  }
  .right_col .content .content-left h3 small {
    display: none;
  }
  .right_col .content .content-right {
    margin-top: -5px;
  }
}
body {
  background-color: #2A3F54 !important;
}
@media (min-width: 980px) {
  .nav-sidemenu .nav_logo {
    white-space: nowrap;
  }
  .nav-sidemenu .nav_mainmenu ul#menu-content {
    display: block;
  }
  .logo-res {
    margin: 10px;
  }
  .menu-res {
    margin: 35px 12px;
  }
  .nav_response {
    display: none;
  }
  .right_col {
    transition: none !important;
  }
}
@media (min-width: 480px) {
  .admin-title h2 {
    margin: 5px 0 6px;
    float: left;
    display: block;
    font-size: 20px;
    width: 50%;
    color: #73879C;
  }
  .admin-title h2 small {
    font-size: 13px;
    margin-left: 10px;
  }
  .admin-title .filter-time {
    font-size: 13px;
  }
  .admin-title .filter-time .show-calendar {
    float: right;
    border: 1px solid #E6E9ED;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #fff;
  }
  .admin-title .filter-time .show-calendar #datepicker {
    border: none;
    color: #73879C;
  }
}
