.type-25-4 .content4 {
  color: #73879C;
  font-size: 13px;
}
.type-25-4 .content4 a {
  color: #5A738E;
  text-decoration: none;
}
.type-25-4 .content4 .x_panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
}
.type-25-4 .content4 .x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.type-25-4 .content4 h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.type-25-4 .content4 h2.title {
  position: relative;
  font-size: 16px;
  margin: 0;
  width: 100%;
}
.type-25-4 .content4 h2.title:before {
  content: "";
  position: absolute;
  left: -23px;
  top: 3px;
  display: block;
  width: 14px;
  height: 14px;
  border: 3px solid #d2d3d2;
  border-radius: 14px;
  background: #f9f9f9;
}
.type-25-4 .content4 .timeline .block {
  margin: 0 0 0 105px;
  border-left: 3px solid #e8e8e8;
  overflow: visible;
  padding: 10px 15px;
}
.type-25-4 .content4 .timeline.widget .block {
  margin-left: 5px;
}
.type-25-4 .content4 .panel_toolbox>li {
  float: left;
  cursor: pointer;
}
.type-25-4 .content4 .panel_toolbox>li>a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.type-25-4 .content4 .x_content {
  padding: 0 5px 6px;
  float: left;
  clear: both;
  margin-top: 27px;
  width: 100%;
}
.type-25-4 .content4 .x_content h4 {
  font-size: 16px;
  font-weight: 500;
}
.type-25-4 .content4 p {
  padding: 0px;
  margin-top: 10px;
  margin-left: 5px;
}
.type-25-4 .content4 .byline {
  font-size: .9375em;
  line-height: 1.3;
  color: #aab6aa;
  font-style: italic;
}
@media (max-width: 1200px) {
  small {
    display: none;
  }
  a {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  .x_title h2 {
    width: 58%;
    font-size: 17px !important;
  }
}
