.type-25-17 .content2 {
  color: #73879C;
  font-size: 13px;
}
.type-25-17 .content2 a {
  color: #5A738E;
  text-decoration: none;
}
.type-25-17 .content2 .x_panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
}
.type-25-17 .content2 .x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.type-25-17 .content2 .x_title .navbar-right {
  margin-right: 0px;
}
.type-25-17 .content2 h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 18px;
  font-weight: 400;
}
.type-25-17 .content2 small {
  margin-left: 10px;
  font-weight: 400;
  color: #777;
}
.type-25-17 .content2 .navbar-right {
  float: right;
}
.type-25-17 .content2 .panel_toolbox>li {
  float: left;
  cursor: pointer;
}
.type-25-17 .content2 .panel_toolbox>li>a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.type-25-17 .content2 span.section {
  display: block;
  margin-bottom: 20px;
  font-size: 21px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.type-25-17 .content2 .ln_solid {
  border-top: 1px solid #e5e5e5;
  color: #fff;
  background-color: #fff;
  height: 1px;
  margin: 20px 0;
}
.type-25-17 .content2 .form-group {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 10px;
}
.type-25-17 .content2 .form-control {
  border-radius: 0px;
}
.type-25-17 .content2 .control-label {
  padding-top: 8px;
}
.type-25-17 .content2 .btn-success:hover {
  color: #fff;
  background: #169F85;
  border-color: #398439;
}
.type-25-17 .content2 .btn-success {
  background: #26B99A;
  border: 1px solid #169F85;
  margin-left: 5px;
}
.type-25-17 .content2 .btn {
  border-radius: 3px;
}
.type-25-17 .content2 .numb {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
}
.type-25-17 .content2 #textarea {
  height: 54px;
}
.type-25-17 .content2 .error {
  float: left;
  border-radius: 3px 4px 4px 3px;
  background-color: #CE5454;
  white-space: pre;
  position: relative;
  left: -15px;
  color: #fff;
  margin: 5px 0 0 20px;
  padding: 0px 10px;
}
.type-25-17 .content2 .btn-success .error:after {
  display: block;
}
@media (max-width: 1270px) {
  small {
    display: none;
  }
}
