.type-25-37 .content6 {
  color: #73879C;
  font-size: 13px;
}
.type-25-37 .content6 a {
  color: #5A738E;
  text-decoration: none;
}
.type-25-37 .content6 .x_panel6 {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
}
.type-25-37 .content6 .x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 15px;
}
.type-25-37 .content6 .x_title .navbar-right {
  margin-right: 0px;
}
.type-25-37 .content6 h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 18px;
  font-weight: 400;
}
.type-25-37 .content6 small {
  margin-left: 10px;
}
.type-25-37 .content6 .navbar-right {
  float: right;
}
.type-25-37 .content6 .panel_toolbox>li {
  float: left;
  cursor: pointer;
}
.type-25-37 .content6 .panel_toolbox>li>a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.type-25-37 .content6 .btn {
  border-radius: 3px;
  margin-bottom: 5px;
  margin-right: 5px;
}
@media (max-width: 1200px) {
  small {
    display: none;
  }
}
