.type-25 {
  background: #2a3f54;
  border: none;
  height: auto;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.471;
}
.type-25 .nav-md .left_col {
  width: 230px;
  z-index: 1;
  display: flex;
}
@media (max-width: 991px) {
  .type-25 .nav-md .left_col {
    display: none;
  }
  .type-25 .nav-md .top_nav,
  .type-25 .nav-md .right-col {
    width: 100% !important;
    margin: 0 !important;
  }
}
.type-25 .nav-sm .left_col {
  width: 70px;
  z-index: 9999;
}
.type-25 .nav-sm .left_col .label {
  display: block !important;
  font-size: 75% !important;
  margin-right: 0px !important;
}
.type-25 .nav-sm .left_col .scroll-view .nav_title span {
  display: none;
}
.type-25 .nav-sm .left_col .scroll-view .nav_title i {
  font-size: 27px;
  margin: 13px 0 0 3px;
}
.type-25 .nav-sm .left_col .scroll-view .profile {
  display: none;
}
.type-25 .nav-sm .left_col .scroll-view .main_menu h3 {
  display: none;
}
.type-25 .nav-sm .left_col .scroll-view .main_menu .menu_section {
  margin-bottom: 0px !important;
}
.type-25 .nav-sm .left_col .scroll-view .main_menu .menu_section ul {
  margin-bottom: 0px !important;
}
.type-25 .nav-sm .left_col .scroll-view .main_menu .menu_section .child_menu {
  left: 100%;
  position: absolute;
  top: 0;
  padding-left: 0px !important;
  width: 210px;
  z-index: 4000;
  background: #3E5367;
}
.type-25 .nav-sm .left_col .scroll-view .main_menu .menu_section .child_menu li {
  padding: 0 10px !important;
}
.type-25 .nav-sm .left_col .scroll-view .main_menu .menu_section .child_menu li:before,
.type-25 .nav-sm .left_col .scroll-view .main_menu .menu_section .child_menu li:after {
  display: none;
}
.type-25 .nav-sm .left_col .scroll-view .main_menu .menu_section .child_menu a {
  text-align: left !important;
}
.type-25 .nav-sm .left_col .scroll-view .main_menu .side-menu li a {
  text-align: center !important;
  font-weight: 400;
  font-size: 10px;
  padding: 10px 5px !important;
}
.type-25 .nav-sm .left_col .scroll-view .main_menu .side-menu li i {
  font-size: 25px !important;
  text-align: center;
  width: 100% !important;
  margin-bottom: 5px;
}
.type-25 .nav-sm .left_col .scroll-view .main_menu .side-menu li .down {
  display: none !important;
}
.type-25 .nav-sm .left_col .scroll-view .hidden-small {
  display: none;
}
.type-25 .nav-sm .top_nav,
.type-25 .nav-sm .right-col {
  display: block;
  margin-left: 70px !important;
  z-index: 2;
}
.type-25 .left_col {
  min-height: 100%;
  padding: 0;
  position: absolute;
  background: #2A3F54;
}
.type-25 .left_col .scroll-view {
  width: 100%;
}
.type-25 .left_col .scroll-view .navbar {
  margin-bottom: 0;
}
.type-25 .left_col .scroll-view .nav_title {
  width: 100%;
  float: left;
  background: #2A3F54;
  border-radius: 0;
  height: 57px;
}
.type-25 .left_col .scroll-view .nav_title .site_title {
  text-decoration: none;
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  line-height: 59px;
  display: block;
  height: 55px;
  margin: 0;
  padding-left: 10px;
  color: #ECF0F1 !important;
  margin-left: 0 !important;
}
.type-25 .left_col .scroll-view .nav_title .site_title i {
  border: 1px solid #EAEAEA;
  padding: 5px 6px;
  border-radius: 50%;
}
.type-25 .left_col .scroll-view .nav_title .site_title:hover {
  text-decoration: none;
}
.type-25 .left_col .scroll-view .profile .profile_pic {
  width: 35%;
  float: left;
}
.type-25 .left_col .scroll-view .profile .profile_pic .profile_img {
  width: 70%;
  background: #fff;
  margin-left: 15%;
  z-index: 1000;
  position: inherit;
  margin-top: 20px;
  border: 1px solid rgba(52,73,94,0.44);
  padding: 4px;
}
.type-25 .left_col .scroll-view .profile .profile_info {
  padding: 25px 10px 10px;
  width: 65%;
  float: left;
}
.type-25 .left_col .scroll-view .profile .profile_info span {
  font-size: 13px;
  line-height: 30px;
  color: #BAB8B8;
}
.type-25 .left_col .scroll-view .profile .profile_info h2 {
  font-size: 14px;
  color: #ECF0F1;
  margin: 0;
  font-weight: 300;
}
.type-25 .left_col .scroll-view .main_menu {
  padding: 0;
}
.type-25 .left_col .scroll-view .main_menu .menu_section {
  margin-bottom: 35px;
}
.type-25 .left_col .scroll-view .main_menu .menu_section h3 {
  padding-left: 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: 1px 1px #000;
}
.type-25 .left_col .scroll-view .main_menu .menu_section .side-menu {
  margin-top: 10px;
}
.type-25 .left_col .scroll-view .main_menu .menu_section .side-menu li {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: transparent !important;
  border: none !important;
}
.type-25 .left_col .scroll-view .main_menu .menu_section .side-menu li a:hover,
.type-25 .left_col .scroll-view .main_menu .menu_section .side-menu li a:focus {
  background-color: transparent;
}
.type-25 .left_col .scroll-view .main_menu .menu_section .side-menu li a {
  color: #E7E7E7;
  font-weight: 500;
  margin-bottom: 6px;
  padding: 13px 15px 12px;
  position: relative;
  display: block;
}
.type-25 .left_col .scroll-view .main_menu .menu_section .side-menu li a .fa {
  width: 26px;
  opacity: .99;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.type-25 .left_col .scroll-view .main_menu .menu_section .side-menu li a span {
  text-align: right !important;
  margin-right: 4px;
  float: right;
  margin-top: 5px;
  min-width: inherit;
  color: #C4CFDA;
}
.type-25 .left_col .scroll-view .main_menu .menu_section .side-menu li a .down {
  font-size: 10px !important;
}
.type-25 .left_col .scroll-view .main_menu .menu_section .side-menu li .child_menu {
  padding-left: 36px;
}
.type-25 .left_col .scroll-view .main_menu .menu_section .side-menu li .child_menu a {
  margin-bottom: 0px;
}
.type-25 .left_col .scroll-view .main_menu .menu_section .side-menu li .child_menu li:after {
  border-left: 1px solid #425668;
  bottom: 0;
  content: "";
  left: -12px;
  position: absolute;
  top: 0;
}
.type-25 .left_col .scroll-view .main_menu .menu_section .side-menu li .child_menu li:before {
  background: #425668;
  bottom: auto;
  content: "";
  height: 8px;
  left: -16px;
  margin-top: 15px;
  position: absolute;
  right: auto;
  width: 8px;
  z-index: 1;
  border-radius: 50%;
}
.type-25 .left_col .scroll-view .main_menu .menu_section .side-menu li .label {
  line-height: 11px;
  margin-top: 4px;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.type-25 .left_col .scroll-view .sidebar-footer {
  bottom: 0;
  clear: both;
  display: block;
  padding: 5px 0 0;
  position: fixed;
  width: 230px;
  background: #2A3F54;
  z-index: 100;
}
.type-25 .left_col .scroll-view .sidebar-footer a {
  padding: 7px 0 3px;
  text-align: center;
  width: 25%;
  font-size: 17px;
  display: block;
  float: left;
  color: #5A738E;
  background: #172D44;
  cursor: pointer;
}
.type-25 .left_col .scroll-view .sidebar-footer a:hover {
  background: #425567 !important;
}
@media (min-width: 768px) {
  .type-25 .left_col .navbar {
    border-radius: 4px;
  }
}
.type-25 .top_nav {
  display: block;
  margin-left: 230px !important;
}
.type-25 .top_nav .nav_menu {
  float: left;
  background: #EDEDED;
  border-bottom: 1px solid #D9DEE4;
  width: 100%;
  position: relative;
}
.type-25 .top_nav .nav_menu .toggle {
  float: left;
  margin: 0;
  padding-top: 16px;
  width: 70px;
}
.type-25 .top_nav .nav_menu .toggle i {
  font-size: 26px;
}
.type-25 .top_nav .nav_menu .toggle a {
  padding: 15px 15px 0;
  margin: 0;
  cursor: pointer;
  color: #5A738E;
}
.type-25 .top_nav .nav_menu .nav {
  margin-right: 0px;
  height: 50px;
}
.type-25 .top_nav .nav_menu .nav .bt {
  text-align: left;
  width: 100%;
  margin: 0 0 6px;
  position: relative;
  border-radius: 0px;
  background: none;
}
.type-25 .top_nav .nav_menu .nav .bt a {
  color: #515356 !important;
  text-decoration: none;
}
.type-25 .top_nav .nav_menu .nav .bt a img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}
.type-25 .top_nav .nav_menu .nav .drop:hover,
.type-25 .top_nav .nav_menu .nav .drop:focus {
  color: #333;
  text-decoration: none;
  background: #D9DEE4;
  height: 50px;
}
.type-25 .top_nav .nav_menu .nav .drop {
  float: right;
  padding: 13px 15px 12px;
  height: 50px;
}
.type-25 .top_nav .nav_menu .c_john {
  position: absolute;
  right: 9px;
  top: 51px;
  background: #fff;
  z-index: 10;
  width: 220px;
}
.type-25 .top_nav .nav_menu .c_john ul {
  list-style: none;
  padding: 0px;
}
.type-25 .top_nav .nav_menu .c_john ul li {
  margin: 15px;
}
.type-25 .top_nav .nav_menu .c_john ul li a {
  color: #5A738E;
  text-decoration: none;
}
.type-25 .top_nav .nav_menu .c_john ul li a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.type-25 .top_nav .nav_menu .c_john ul li a i.fa {
  float: right;
}
.type-25 .top_nav .nav_menu .bg-red {
  background: #E74C3C !important;
  border: 1px solid #E74C3C !important;
  color: #fff;
  margin-left: 50px;
}
.type-25 .top_nav .nav_menu .badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
  float: right;
}
.type-25 .top_nav .nav_menu .bg-green {
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: -11px;
  top: -11px;
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff;
  text-align: center;
}
.type-25 .top_nav .nav_menu .c_mail {
  top: 51px;
  position: absolute;
  right: 129px;
  background: #fff;
  z-index: 10;
}
.type-25 .top_nav .nav_menu .c_mail a {
  text-decoration: none;
  color: #5A738E;
}
.type-25 .top_nav .nav_menu .c_mail a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.type-25 .top_nav .nav_menu .c_mail span {
  white-space: normal;
}
.type-25 .top_nav .nav_menu .c_mail ul {
  list-style: none;
  padding: 0px;
}
.type-25 .top_nav .nav_menu .c_mail .image img {
  margin-right: 10px;
  width: 11%;
  float: left;
}
.type-25 .top_nav .nav_menu .c_mail .time {
  font-size: 11px;
  font-style: italic;
  font-weight: 700;
  position: absolute;
  right: 13px;
}
.type-25 .top_nav .nav_menu .c_mail .message {
  display: block !important;
  font-size: 11px;
}
.type-25 .top_nav .nav_menu .c_mail .ago {
  padding: 5px;
  margin: 6px;
  background: #f5f5f5;
}
.type-25 .right-col {
  display: block;
  background: #f7f7f7;
  margin-left: 230px !important;
}
.type-25 .right-col .content1 {
  padding-top: 10px;
  color: #73879C;
  background: #F7F7F7;
  padding-bottom: 20px;
}
.type-25 .right-col .content1 .green {
  color: #1ABB9C;
}
.type-25 .right-col .content1 .red {
  color: #E74C3C;
}
.type-25 .right-col .content1 .count {
  line-height: 29px;
  font-weight: 600;
  font-size: 30px;
  padding: 10px 0px;
}
.type-25 .right-col .content1 .tile_stats_count span {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.type-25 .right-col .content1 .tile_stats_count {
  border-right: 2px solid #ADB2B5;
  border-bottom: 1px solid #D9DEE4;
  padding: 0 10px 0 20px;
  position: relative;
  height: 89px;
}
.type-25 .right-col .content1 .last {
  border-right: none;
}
.type-25 .right-col .content2 {
  padding-bottom: 20px;
}
.type-25 .right-col .content2 .dashboard_graph {
  background: #fff;
  padding: 7px 10px;
  margin-top: 20px;
}
.type-25 .right-col .content2 .dashboard_graph .x_title {
  padding: 5px 5px 7px;
  border-bottom: 2px solid #e6e9ed;
  margin: 0 -10px 10px;
}
.type-25 .right-col .content2 .dashboard_graph .x_title h3 {
  margin: 0;
  font-weight: 400;
}
.type-25 .right-col .content2 .dashboard_graph .x_title #reportrange {
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  float: right;
  color: #bdbdbd;
}
.type-25 .right-col .content2 .dashboard_graph .x_title h2 {
  font-size: 18px;
  margin: 5px 0 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.type-25 .right-col .content2 .dashboard_graph .x_title p {
  margin: 0 0 4px;
}
.type-25 .right-col .content2 .dashboard_graph .x_title ul.nav {
  float: right;
}
.type-25 .right-col .content2 .dashboard_graph .progress_sm {
  border-radius: 0;
  margin-bottom: 18px;
  width: 76%;
  height: 10px;
}
.type-25 .right-col .content2 .dashboard_graph .progress_sm .progress-bar {
  height: 10px;
}
.type-25 .right-col .content2 .dashboard_graph .demo-placeholder {
  height: 280px;
}
.type-25 .right-col .content2 .dashboard_graph .flot-overlay {
  direction: ltr;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 280px;
}
.type-25 .right-col .content2 .flot-base {
  width: 100% !important;
}
.type-25 .right-col .content2 .bg-white {
  color: #73879C;
}
.type-25 .right-col .content2 .bg-green {
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff;
}
.type-25 .right-col .content2 .progress.progress_sm,
.type-25 .right-col .content2 .progress.progress_sm .progress-bar {
  height: 10px !important;
}
.type-25 .right-col .content2 .progress_sm {
  width: 76%;
}
.type-25 .right-col .content2 .dashboard_graph p {
  margin: 0 0 4px;
}
.type-25 .right-col .content2 .flot-text {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  font-size: smaller;
  color: #545454;
}
.type-25 .right-col .content2 .flot-x1-axis {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: block;
  width: 100%;
}
.type-25 .right-col .content2 .flot-x1-axis .flot-tick-label {
  position: absolute;
  max-width: 100%;
  top: 264px;
  text-align: center;
}
.type-25 .right-col .content2 .flot-x1-axis .flot-tick-label .flot1 {
  left: 6%;
}
.type-25 .right-col .content2 .flot-x1-axis .flot-tick-label .flot2 {
  left: 22%;
}
.type-25 .right-col .content2 .flot-x1-axis .flot-tick-label .flot3 {
  left: 37%;
}
.type-25 .right-col .content2 .flot-x1-axis .flot-tick-label .flot4 {
  left: 53%;
}
.type-25 .right-col .content2 .flot-x1-axis .flot-tick-label .flot5 {
  left: 69%;
}
.type-25 .right-col .content2 .flot-x1-axis .flot-tick-label .flot6 {
  left: 85%;
}
.type-25 .right-col .content2 .flot-y1-axis {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: block;
}
.type-25 .right-col .content2 .flot-y1-axis .flot-tick-label {
  position: absolute;
  text-align: right;
}
.type-25 .right-col .content2 .flot-y1-axis .flot-tick-label .tick1 {
  top: 252px;
  left: 13px;
}
.type-25 .right-col .content2 .flot-y1-axis .flot-tick-label .tick2 {
  top: 232px;
  left: 7px;
}
.type-25 .right-col .content2 .flot-y1-axis .flot-tick-label .tick3 {
  top: 213px;
  left: 7px;
}
.type-25 .right-col .content2 .flot-y1-axis .flot-tick-label .tick4 {
  top: 194px;
  left: 7px;
}
.type-25 .right-col .content2 .flot-y1-axis .flot-tick-label .tick5 {
  top: 174px;
  left: 7px;
}
.type-25 .right-col .content2 .flot-y1-axis .flot-tick-label .tick6 {
  top: 155px;
  left: 7px;
}
.type-25 .right-col .content2 .flot-y1-axis .flot-tick-label .tick7 {
  top: 136px;
  left: 7px;
}
.type-25 .right-col .content2 .flot-y1-axis .flot-tick-label .tick8 {
  top: 116px;
  left: 7px;
}
.type-25 .right-col .content2 .flot-y1-axis .flot-tick-label .tick9 {
  top: 97px;
  left: 7px;
}
.type-25 .right-col .content2 .flot-y1-axis .flot-tick-label .tick10 {
  top: 78px;
  left: 7px;
}
.type-25 .right-col .content2 .flot-y1-axis .flot-tick-label .tick11 {
  top: 58px;
  left: 1px;
}
.type-25 .right-col .content2 .flot-y1-axis .flot-tick-label .tick12 {
  top: 39px;
  left: 2px;
}
.type-25 .right-col .content2 .flot-y1-axis .flot-tick-label .tick13 {
  top: 20px;
  left: 1px;
}
.type-25 .right-col .content2 .flot-y1-axis .flot-tick-label .tick14 {
  top: 1px;
  left: 1px;
}
.type-25 .right-col .content3 {
  color: #73879C;
  font-size: 13px;
}
.type-25 .right-col .content3 .x_panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
  height: 300px;
  margin-top: 15px;
}
.type-25 .right-col .content3 .x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.type-25 .right-col .content3 .x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 18px;
  font-weight: 400;
}
.type-25 .right-col .content3 .x_title .navbar-right {
  margin-right: 0;
}
.type-25 .right-col .content3 .x_title ul.nav {
  float: right;
}
.type-25 .right-col .content3 .panel_toolbox>li {
  float: left;
  cursor: pointer;
}
.type-25 .right-col .content3 .panel_toolbox>li>a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.type-25 .right-col .content3 .x_content {
  padding: 0 5px 6px;
  float: left;
  clear: both;
  margin-top: 5px;
  width: 100%;
}
.type-25 .right-col .content3 .x_content h4 {
  font-size: 16px;
  font-weight: 500;
}
.type-25 .right-col .content3 .widget_summary {
  width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.type-25 .right-col .content3 .widget_summary .w_left {
  float: left;
  text-align: left;
}
.type-25 .right-col .content3 .widget_summary .w_25 {
  width: 25%;
}
.type-25 .right-col .content3 .widget_summary .w_55 {
  width: 55%;
}
.type-25 .right-col .content3 .widget_summary .w_55 .progress {
  border-radius: 0px;
}
.type-25 .right-col .content3 .widget_summary .w_55 .bg-green {
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff;
}
.type-25 .right-col .content3 .widget_summary .w_20 {
  width: 20%;
  float: right;
  text-align: right;
}
.type-25 .right-col .content3 .widget_summary .w_20 span {
  font-size: 20px;
}
.type-25 .right-col .content3 table.tile_info td:first-child {
  width: 80%;
}
.type-25 .right-col .content3 table.tile_info td {
  text-align: left;
  padding: 1px;
  font-size: 14px;
}
.type-25 .right-col .content3 table.tile_info td i {
  margin-right: 2px;
  float: left;
  line-height: 23px;
}
.type-25 .right-col .content3 .blue {
  color: #3498DB;
}
.type-25 .right-col .content3 .green {
  color: #1ABB9C;
}
.type-25 .right-col .content3 .purple {
  color: #9B59B6;
}
.type-25 .right-col .content3 .aero {
  color: #9CC2CB;
}
.type-25 .right-col .content3 .red {
  color: #E74C3C;
}
.type-25 .right-col .content3 ul.quick-list {
  width: 45%;
  padding-left: 0;
  list-style: none;
  padding: 0px;
}
.type-25 .right-col .content3 ul.quick-list li {
  padding-left: 10px;
  list-style: none;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.type-25 .right-col .content3 ul.quick-list li i {
  padding-right: 10px;
  color: #757679;
}
.type-25 .right-col .content3 ul.quick-list a {
  color: #5A738E;
  text-decoration: none;
}
.type-25 .right-col .content3 ul.quick-list a:hover {
  color: #23527c;
}
.type-25 .right-col .content3 p {
  padding: 0px;
}
.type-25 .right-col .content3 .sidebar-widget {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  background: #fff;
  border: 1px solid #abd9ea;
  border-radius: 5px;
  text-align: center;
  float: right;
  padding: 2px;
  margin-top: -196px;
}
.type-25 .right-col .content3 .sidebar-widget h4 {
  font-size: 15px;
  font-weight: 500;
}
.type-25 .right-col .content3 canvas {
  width: 100% !important;
}
.type-25 .right-col .content4 {
  color: #73879C;
  font-size: 13px;
}
.type-25 .right-col .content4 a {
  color: #5A738E;
  text-decoration: none;
}
.type-25 .right-col .content4 .x_panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #e6e9ed;
  opacity: 1;
  margin-top: 10px;
  margin-bottom: 30px;
}
.type-25 .right-col .content4 .x_title {
  border-bottom: 2px solid #e6e9ed;
  padding: 1px 5px 6px;
}
.type-25 .right-col .content4 .x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.type-25 .right-col .content4 .x_title ul.nav {
  float: right;
}
.type-25 .right-col .content4 .x_title .navbar-right {
  margin-right: 0;
}
.type-25 .right-col .content4 h2.title {
  position: relative;
  font-size: 18px;
  margin: 0;
  width: 100%;
}
.type-25 .right-col .content4 h2.title:before {
  content: "";
  position: absolute;
  left: -23px;
  top: 3px;
  display: block;
  width: 14px;
  height: 14px;
  border: 3px solid #d2d3d2;
  border-radius: 14px;
  background: #f9f9f9;
}
.type-25 .right-col .content4 .timeline .block {
  margin: 0 0 0 105px;
  border-left: 3px solid #e8e8e8;
  overflow: visible;
  padding: 10px 15px;
}
.type-25 .right-col .content4 .timeline.widget .block {
  margin-left: 5px;
}
.type-25 .right-col .content4 .panel_toolbox>li {
  float: left;
  cursor: pointer;
}
.type-25 .right-col .content4 .panel_toolbox>li>a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.type-25 .right-col .content4 .x_content {
  padding: 0 5px 6px;
  float: left;
  clear: both;
  margin-top: 27px;
  width: 100%;
}
.type-25 .right-col .content4 .x_content h4 {
  font-size: 18px;
  font-weight: 500;
}
.type-25 .right-col .content4 p {
  padding: 0px;
  margin-top: 10px;
  margin-left: 5px;
}
.type-25 .right-col .content4 .byline {
  font-size: .9375em;
  line-height: 1.3;
  color: #aab6aa;
  font-style: italic;
}
.type-25 .right-col .content4 .content5 {
  color: #73879C;
  margin-bottom: 50px;
  font-size: 13px;
}
.type-25 .right-col .content4 .content5 a {
  color: #5A738E;
  text-decoration: none;
}
.type-25 .right-col .content4 .content5 .x_panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
  margin-top: 10px;
  margin-bottom: 0px;
}
.type-25 .right-col .content4 .content5 .x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.type-25 .right-col .content4 .content5 .x_title ul.nav {
  float: right;
}
.type-25 .right-col .content4 .content5 .x_title .navbar-right {
  margin-right: 0;
}
.type-25 .right-col .content4 .content5 h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.type-25 .right-col .content4 .content5 .panel_toolbox>li {
  float: left;
  cursor: pointer;
}
.type-25 .right-col .content4 .content5 .panel_toolbox>li>a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.type-25 .right-col .content4 .content5 .x_content {
  padding: 0 5px 6px;
  float: left;
  clear: both;
  margin-top: 27px;
  width: 100%;
}
.type-25 .right-col .content4 .content5 .x_content h4 {
  font-size: 16px;
  font-weight: 500;
}
.type-25 .right-col .content4 .content5 table.countries_list td {
  padding: 0 22px;
  line-height: 30px;
  border-top: 1px solid #eee;
}
.type-25 .right-col .content4 .content5 p {
  padding: 0px;
}
.type-25 .right-col .content4 .content5 ul.to_do {
  padding: 0px;
}
.type-25 .right-col .content4 .content5 ul.to_do li {
  background: #f3f3f3;
  border-radius: 3px;
  position: relative;
  padding: 1px;
  margin-bottom: 5px;
  list-style: none;
}
.type-25 .right-col .content4 .content5 .flat {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}
.type-25 .right-col .content4 .content5 p {
  margin-top: 10px;
  margin-left: 5px;
}
.type-25 .right-col .content4 .content5 .degrees:after {
  content: "o";
  top: -12px;
  font-size: 16px;
  font-weight: 300;
  position: relative;
}
.type-25 .right-col .content4 .content5 .daily-weather .day {
  font-size: 14px;
  border-top: 2px solid rgba(115,135,156,0.36);
  text-align: center;
  border-bottom: 2px solid rgba(115,135,156,0.36);
  padding: 5px 0;
}
.type-25 .footer {
  bottom: 0;
  right: 0;
  z-index: 5;
  background: #fff;
  padding: 15px 20px;
  display: block;
}
.type-25 .footer a {
  color: #5A738E;
  text-decoration: none;
}
@media (min-width: 480px) {
  .nav_menu,
  right-col {
    position: static !important;
  }
}
@media (max-width: 1200px) {
  .tile_stats_count span {
    width: 62%;
  }
  h2 {
    width: 62%;
    font-size: 17px;
  }
  a {
    font-size: 11px;
  }
  table.tile_info td {
    text-align: left;
    padding: 1px;
    font-size: 11px;
  }
  p {
    font-size: 11px;
  }
  .widget_summary .w_20 span {
    font-size: 15px;
  }
  .x_content h4 {
    font-size: 13px;
    font-weight: 500;
  }
  small {
    display: none;
  }
  .content4 a {
    font-size: 14px;
  }
  p {
    font-size: 12px;
  }
  .x_title h2 {
    width: 58%;
    font-size: 17px !important;
  }
}
@media (min-width: 768px) {
  .tile_stats_count .count {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .tile_stats_count {
    margin-bottom: 10px;
    border-bottom: none !important;
    padding-bottom: 10px !important;
    height: 70px;
  }
}
@media (max-width: 776px) {
  ul.quick-list li,
  p {
    width: 62%;
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .weather-text {
    float: right;
  }
}
