.type-25 {
  background: #2a3f54;
}
.type-25 .dashboard {
  position: relative;
  background: #f7f7f7;
}
.type-25 .left-col #left-col {
  padding-left: 70px;
  transition: all .4s ease 0s;
  height: 100%;
}
.type-25 .left-col #sidebar-wrapper {
  margin-left: -225px;
  left: 70px;
  width: 225px;
  height: 100%;
  transition: all .4s ease 0s;
}
.type-25 .left-col .sidebar-nav {
  display: block;
  float: left;
  width: 225px;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #2a3f54;
}
.type-25 .left-col #left-col.active {
  padding-left: 225px;
}
.type-25 .left-col #left-col.active #sidebar-wrapper {
  left: 225px;
}
.type-25 .left-col li {
  list-style: none;
}
.type-25 .left-col .sidebar-nav a {
  color: #999999;
  display: grid;
  text-decoration: none;
  padding-left: 150px;
}
.type-25 .left-col .sidebar-nav a .alela {
  display: none;
  float: right;
  margin-right: 15px;
  font-size: 22px;
  color: #ECF0F1 !important;
  margin-top: 20px;
}
.type-25 .left-col .sidebar-nav .profile {
  display: none;
}
.type-25 .left-col .sidebar-nav .fa-chevron-down:before {
  display: none;
}
.type-25 .left-col .sidebar-nav h3 {
  display: none;
}
.type-25 .left-col .sidebar-nav .site_title i {
  font-size: 27px;
  margin: 13px 0 30px 13px;
  padding: 11px;
}
.type-25 .left-col .sidebar-nav .fa {
  width: 50px;
  font-size: 25px;
  color: #f7f7f7;
}
.type-25 .left-col .sidebar-nav .main_menu {
  padding-left: 13px;
  padding-right: 15px;
  margin-bottom: 25px;
}
.type-25 .left-col .sidebar-nav a {
  font-size: 10px;
  text-align: center;
}
.type-25 .left-col .sidebar-nav a:hover {
  background-color: transparent;
}
.type-25 .left-col .sidebar-nav .child_menu a {
  text-align: -webkit-auto;
  text-align: -ms-auto;
  text-align: -o-auto;
  text-align: -moz-auto;
  padding-left: 10px;
}
.type-25 .left-col .sidebar-nav .pull-right {
  background-color: #5cb85c;
  position: absolute;
  margin: -41px;
  padding: 0 5px;
  bottom: 33px;
}
.type-25 .left-col .sidebar-nav .c_home {
  border-right: none;
  float: right;
  left: 30px;
  margin-right: -225px;
  background: #3E5367;
  width: 210px;
  margin-top: -75px;
  font-size: 10px;
}
.type-25 .left-col .sidebar-nav .sidebar-footer {
  display: none;
}
.type-25 .left-col .active .alela {
  display: block !important;
}
.type-25 .left-col .active .profile {
  display: block !important;
  padding-left: 15px;
  padding-right: 15px;
}
.type-25 .left-col .active .fa-chevron-down:before {
  display: block;
}
.type-25 .left-col .active h3 {
  display: block;
}
.type-25 .left-col .active .site_title i {
  padding: 5px 6px;
  font-size: 22px;
  margin: 20px 0 0 10px;
}
.type-25 .left-col .active .fa {
  width: 35px;
  font-size: 18px;
  color: #f7f7f7;
}
.type-25 .left-col .active .main_menu {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 60px;
}
.type-25 .left-col .active a {
  font-size: 13px;
  text-align: -webkit-auto;
  text-align: -ms-auto;
  text-align: -o-auto;
  text-align: -moz-auto;
}
.type-25 .left-col .active a:hover {
  background-color: none;
}
.type-25 .left-col .active .pull-right {
  background-color: #5cb85c;
  position: absolute;
  bottom: 0;
  margin: 11px;
  padding: 0 5px;
}
.type-25 .left-col .active ul.nav.child_menu li:before {
  background: #425668;
  content: "";
  height: 8px;
  left: 4px;
  margin-top: 5px;
  position: absolute;
  width: 8px;
  border-radius: 50%;
}
.type-25 .left-col .active ul.nav.child_menu li:after {
  border-left: 1px solid #425668;
  bottom: 0;
  content: "";
  left: 7px;
  position: absolute;
  top: -15px;
}
.type-25 .left-col .active .c_home {
  border-right: 5px solid #1ABB9C;
  margin-right: -15px;
  margin-top: 0;
  background: none;
  float: none;
}
.type-25 .left-col .active .child_menu li a {
  color: rgba(255,255,255,0.75);
  font-size: 12px;
  padding: 9px;
  margin-left: 20px;
  padding-top: 4px;
}
.type-25 .left-col .active .sidebar-footer {
  bottom: 0;
  display: block;
  padding: 5px 0 0;
  position: fixed;
  width: 225px;
  background: #2A3F54;
  z-index: 999;
  left: 0;
}
.type-25 .left-col .active .sidebar-footer a {
  padding: 7px 0 3px;
  text-align: center;
  width: 25%;
  font-size: 17px;
  display: block;
  float: left;
  background: #172D44;
  cursor: pointer;
  color: #5A738E;
}
.type-25 .left-col .active .sidebar-footer a:hover {
  color: #23527c;
  background: #425567;
}
.type-25 .left-col .site_title i {
  float: left;
  color: #ECF0F1 !important;
  border: 1px solid #EAEAEA;
  border-radius: 50%;
}
.type-25 .left-col .active  a {
  display: block;
  padding: 0;
}
.type-25 .left-col .profile {
  margin-bottom: 20px;
}
.type-25 .left-col .profile .profile_pic {
  width: 35%;
  float: left;
  padding: 0px;
}
.type-25 .left-col .profile .profile_img {
  width: 70%;
  background: #fff;
  z-index: 1000;
  position: inherit;
  margin-top: 20px;
  border: 1px solid rgba(52,73,94,0.44);
  padding: 4px;
  border-radius: 50%;
}
.type-25 .left-col .profile .profile_info {
  padding: 20px 10px 10px;
  width: 65%;
  float: left;
}
.type-25 .left-col .profile .profile_info span {
  font-size: 13px;
  line-height: 30px;
  color: #BAB8B8;
}
.type-25 .left-col .profile .profile_info h2 {
  font-size: 14px;
  color: #ECF0F1;
  margin: 0;
  font-weight: 300;
}
.type-25 .left-col .main_menu .menu_section h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 700;
  font-size: 11px;
}
.type-25 .left-col .main_menu .bt {
  text-align: left;
  width: 100%;
  margin: 0 0 6px;
  position: relative;
  padding: 7px 0;
}
.type-25 .left-col .main_menu .bt:hover,
.type-25 .left-col .main_menu .bt:focus {
  color: #333;
  text-decoration: none;
  background: linear-gradient(#334556,#2C4257), #2A3F54;
}
.type-25 .left-col .main_menu a {
  color: #f7f7f7;
}
.type-25 .left-col .main_menu a:focus {
  background: none;
}
.type-25 .left-col .main_menu .drop {
  margin: 5px 0;
}
.type-25 .left-col .main_menu span.fa {
  float: right;
  text-align: center;
  margin-top: 5px;
  font-size: 10px;
  min-width: inherit;
  color: #C4CFDA;
}
.type-25 .left-col .main_menu h5 {
  margin: 0px;
  font-size: 11px;
}
.type-25 .left-col .main_menu .child_menu a:hover {
  background: rgba(255,255,255,0.05);
}
.type-25 .left-col .main_menu .label {
  line-height: 15px;
}
.type-25 .left-col .main_menu .one {
  padding: 15px;
}
.type-25 .right-col {
  background: #f7f7f7;
  height: 100%;
  float: right;
  transition: all .4s ease 0s;
}
.type-25 .nav_menu {
  background-color: #ededed;
  border-bottom: 1px solid #d9dee4;
  padding-bottom: 20px;
  height: 60px;
}
.type-25 .nav_menu #menu-toggle {
  padding: 15px 15px 0;
  margin: 0;
  cursor: pointer;
  color: #5A738E;
}
.type-25 .nav_menu #menu-toggle i {
  font-size: 26px;
  margin-top: 10px;
}
.type-25 .nav_menu .nav {
  margin: 0px;
  height: 50px;
  float: right;
}
.type-25 .nav_menu .nav .bt {
  text-align: left;
  width: 100%;
  margin: 0 0 6px;
  position: relative;
  border-radius: 0px;
  background: none;
}
.type-25 .nav_menu .nav .bt a {
  color: #515356 !important;
  text-decoration: none;
}
.type-25 .nav_menu .nav .bt a img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}
.type-25 .nav_menu .nav .drop:hover,
.type-25 .nav_menu .nav .drop:focus {
  color: #333;
  text-decoration: none;
  background: #D9DEE4;
  height: 60px;
}
.type-25 .nav_menu .nav .drop {
  float: right;
  padding: 13px 15px 12px;
  height: 60px;
}
.type-25 .nav_menu .c_john {
  position: absolute;
  right: 9px;
  top: 60px;
  background: #fff;
  z-index: 10;
  width: 220px;
}
.type-25 .nav_menu .c_john ul {
  list-style: none;
  padding: 0px;
}
.type-25 .nav_menu .c_john ul li {
  margin: 15px;
}
.type-25 .nav_menu .c_john ul li a {
  color: #5A738E;
  text-decoration: none;
}
.type-25 .nav_menu .c_john ul li a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.type-25 .nav_menu .c_john ul li a i.fa {
  float: right;
}
.type-25 .nav_menu .bg-red {
  background: #E74C3C !important;
  border: 1px solid #E74C3C !important;
  color: #fff;
  margin-left: 50px;
}
.type-25 .nav_menu .badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
  float: right;
}
.type-25 .nav_menu .bg-green {
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: -11px;
  top: -11px;
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff;
  text-align: center;
}
.type-25 .nav_menu .c_mail {
  top: 60px;
  position: absolute;
  right: 129px;
  background: #fff;
  z-index: 10;
}
.type-25 .nav_menu .c_mail a {
  text-decoration: none;
  color: #5A738E;
}
.type-25 .nav_menu .c_mail a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.type-25 .nav_menu .c_mail span {
  white-space: normal;
}
.type-25 .nav_menu .c_mail ul {
  list-style: none;
  padding: 0px;
}
.type-25 .nav_menu .c_mail .image img {
  margin-right: 10px;
  width: 11%;
  float: left;
}
.type-25 .nav_menu .c_mail .time {
  font-size: 11px;
  font-style: italic;
  font-weight: 700;
  position: absolute;
  right: 13px;
}
.type-25 .nav_menu .c_mail .message {
  display: block !important;
  font-size: 11px;
}
.type-25 .nav_menu .c_mail .ago {
  padding: 5px;
  margin: 6px;
  background: #f5f5f5;
}
.type-25 .page-title {
  padding: 10px 3px 0 20px;
}
.type-25 .page-title .title_left {
  width: 45%;
  float: left;
  display: block;
}
.type-25 .page-title h3 {
  color: #73879C;
}
.type-25 .page-title .title_right {
  width: 55%;
  float: left;
  display: block;
}
.type-25 .page-title .pull-right {
  margin: 20px 0 0 0;
}
.type-25 .page-title .input-group {
  margin-bottom: 10px;
}
.type-25 .page-title .form-control {
  border-radius: 25px 0 0 25px;
  padding-left: 20px;
  border: 1px solid rgba(221,226,232,0.49);
}
.type-25 .page-title .input-group-btn button {
  border-radius: 0 25px 25px 0;
  border: 1px solid rgba(221,226,232,0.49);
  border-left: 0;
  color: #93A2B2;
}
.type-25 .typography {
  color: #73879C;
  font-size: 13px;
}
.type-25 .typography a {
  color: #5A738E;
  text-decoration: none;
}
.type-25 .typography .x_panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
}
.type-25 .typography .x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 15px;
}
.type-25 .typography .x_title .navbar-right {
  margin-right: 0px;
}
.type-25 .typography .x_title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 18px;
  font-weight: 400;
}
.type-25 .typography small {
  margin-left: 10px;
  font-weight: 400;
  color: #777;
}
.type-25 .typography .navbar-right {
  float: right;
}
.type-25 .typography .panel_toolbox>li {
  float: left;
  cursor: pointer;
}
.type-25 .typography .panel_toolbox>li>a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.type-25 .typography h2 {
  font-size: 18px;
  font-weight: 400;
}
.type-25 .typography h1,
.type-25 .typography h2,
.type-25 .typography h3 {
  margin-top: 10px;
}
.type-25 .footer {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  background: #fff;
  padding: 15px 20px;
  display: block;
}
.type-25 .footer a {
  color: #5A738E;
  text-decoration: none;
}
@media (max-width: 767px) {
  #left-col {
    padding-left: 70px;
    transition: all .4s ease 0s;
  }
  #sidebar-wrapper {
    left: 70px;
  }
  #left-col.active {
    padding-left: 225px;
  }
  #left-col.active #sidebar-wrapper {
    left: 225px;
    width: 225px;
    transition: all .4s ease 0s;
  }
}
@media (max-width: 992px) {
  .active {
    display: none;
  }
  .right-col {
    transition: all 0s ease 0s !important;
  }
}
@media (max-width: 1200px) {
  small {
    display: none;
  }
}
