.type-25-30 .page-title .title_left {
  width: 45%;
  float: left;
  display: block;
}
.type-25-30 .page-title h3 {
  color: #73879C;
}
.type-25-30 .page-title .title_right {
  width: 55%;
  float: left;
  display: block;
}
.type-25-30 .page-title .pull-right {
  margin: 20px 0 0 0;
}
.type-25-30 .page-title .input-group {
  margin-bottom: 10px;
}
.type-25-30 .page-title .form-control {
  border-radius: 25px 0 0 25px;
  padding-left: 20px;
  border: 1px solid rgba(221,226,232,0.49);
}
.type-25-30 .page-title .input-group-btn button {
  border-radius: 0 25px 25px 0;
  border: 1px solid rgba(221,226,232,0.49);
  border-left: 0;
  color: #93A2B2;
}
