.type-25-header .nav_menu {
  background-color: #ededed;
  border-bottom: 1px solid #d9dee4;
}
.type-25-header .nav_menu #menu-toggle {
  color: #5A738E;
  font-size: 26px;
  border: none;
  background-color: #ededed;
  padding: 8px 15px;
}
.type-25-header .nav_menu #menu-toggle:hover {
  color: #2A3F54;
}
.type-25-header .nav_menu .nav {
  margin-right: 0px;
  height: 50px;
}
.type-25-header .nav_menu .nav .bt {
  text-align: left;
  width: 100%;
  margin: 0 0 6px;
  position: relative;
  border-radius: 0px;
  background: none;
}
.type-25-header .nav_menu .nav .bt a {
  color: #515356 !important;
  text-decoration: none;
}
.type-25-header .nav_menu .nav .bt a img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}
.type-25-header .nav_menu .nav .drop:hover,
.type-25-header .nav_menu .nav .drop:focus {
  color: #333;
  text-decoration: none;
  background: #D9DEE4;
  height: 53px;
}
.type-25-header .nav_menu .nav .drop {
  float: right;
  padding: 13px 15px 12px;
  height: 60px;
}
.type-25-header .nav_menu .c_john {
  position: absolute;
  right: 9px;
  top: 54px;
  background: #fff;
  z-index: 10;
}
.type-25-header .nav_menu .c_john ul {
  list-style: none;
}
.type-25-header .nav_menu .c_john ul li {
  margin: 15px;
}
.type-25-header .nav_menu .c_john ul li a {
  color: #5A738E;
  text-decoration: none;
}
.type-25-header .nav_menu .c_john ul li a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.type-25-header .nav_menu .bg-red {
  background: #E74C3C !important;
  border: 1px solid #E74C3C !important;
  color: #fff;
  margin-left: 50px;
}
.type-25-header .nav_menu .badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.type-25-header .nav_menu .bg-green {
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: -11px;
  top: -8px;
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff;
  text-align: center;
}
.type-25-header .nav_menu .c_mail {
  top: 54px;
  position: absolute;
  right: 129px;
  background: #fff;
  z-index: 10;
}
.type-25-header .nav_menu .c_mail a {
  text-decoration: none;
  color: #5A738E;
}
.type-25-header .nav_menu .c_mail a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.type-25-header .nav_menu .c_mail span {
  white-space: normal;
}
.type-25-header .nav_menu .c_mail ul {
  list-style: none;
}
.type-25-header .nav_menu .c_mail .image img {
  margin-right: 10px;
  width: 11%;
  float: left;
}
.type-25-header .nav_menu .c_mail .time {
  font-size: 11px;
  font-style: italic;
  font-weight: 700;
  position: absolute;
  right: 13px;
}
.type-25-header .nav_menu .c_mail .message {
  display: block !important;
  font-size: 11px;
}
.type-25-header .nav_menu .c_mail .ago {
  padding: 5px;
  margin: 6px;
  background: #f5f5f5;
}
.type-25.toggled {
  margin-left: -268px;
}
.type-25.toggled .sidebar-footer {
  display: none;
}
