.type-31 {
  color: #73879C;
}
.type-31 .content {
  margin-top: 10px;
}
.type-31 .content .content-left {
  display: inline-block;
}
.type-31 .content .content-left h3 {
  margin: 12px 0;
}
.type-31 .content .content-right {
  float: right;
}
.type-31 .content .content-right .top_search {
  padding: 0;
  margin: 10px 0;
}
.type-31 .content .content-right .top_search .input-group {
  margin-bottom: 10px;
}
.type-31 .content .content-right .top_search .form-control {
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.075);
  border-radius: 25px 0 0 25px;
  padding-left: 20px;
  border: 1px solid rgba(221,226,232,0.49);
}
.type-31 .content .content-right .top_search .input-group-btn button {
  border-radius: 0 25px 25px 0;
  border: 1px solid rgba(221,226,232,0.49);
  border-left: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  color: #93A2B2;
  margin-bottom: 0 !important;
}
.type-31 .admin-panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #E6E9ED;
  opacity: 1;
  transition: all .2s ease;
  margin-bottom: 27px;
  position: relative;
}
.type-31 .admin-panel .admin-title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.type-31 .admin-panel .admin-title h3 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 18px;
}
.type-31 .admin-panel .admin-title h3 small {
  margin-left: 5px;
}
.type-31 .admin-panel .admin-title ul.items {
  margin-right: 0;
  min-width: 70px;
  float: right;
  list-style: none;
  margin-top: 5px;
}
.type-31 .admin-panel .admin-title ul.items li {
  float: left;
  cursor: pointer;
}
.type-31 .admin-panel .admin-title ul.items li a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 13px;
}
.type-31 .admin-panel .admin-title ul.items li.dropdown ul.dropdown-menu {
  min-width: 0px !important;
}
.type-31 .admin-panel .admin-title ul.items .collapse-link,
.type-31 .admin-panel .admin-title ul.items .close-link {
  opacity: 1;
}
.type-31 .admin-panel .admin-content {
  margin: 25px 8px;
}
.type-31 .admin-panel .admin-content h3 {
  color: #777;
}
.type-31 .admin-panel .admin-content table {
  margin-top: 10px;
  margin-bottom: 15px;
}
.type-31 .admin-panel .admin-content .box-note {
  margin-top: 8px;
  background-color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  margin-bottom: 35px;
}
.type-31 .admin-panel .admin-content .btn-print {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 5px;
  margin-top: 15px;
}
.type-31 .admin-panel .admin-content .btn-print:hover {
  background-color: #ffffff;
}
.type-31 .admin-panel .admin-content .btn-function {
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}
.type-31 .admin-panel .admin-content .btn-download-pdf {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.type-31 .admin-panel .admin-content .btn-download-pdf:hover {
  background-color: #2e6da4;
}
.type-31 .admin-panel .admin-content .btn-submit-payment {
  background-color: #5cb85c;
  border-color: #4cae4c;
  margin-left: 8px;
}
.type-31 .admin-panel .admin-content .btn-submit-payment:hover {
  background-color: #4cae4c;
}
@media (max-width: 980px) {
  .content .content-left h3 {
    font-size: 16px;
  }
  .content .content-right {
    margin-top: -5px;
  }
}
