body {
  background: #2a3f54 !important;
}
.type-25 .dashboard {
  padding: 0px;
}
.type-25 .left-col {
  transition: width 0.2s;
  background: #2A3F54;
}
.type-25 .left-col a {
  text-decoration: none;
  color: #E7E7E7;
  font-size: 13px;
}
.type-25 .left-col ul {
  list-style: none;
}
.type-25 .left-col .nav_title {
  float: left;
  background: #2A3F54;
  border-radius: 0;
  height: 57px;
}
.type-25 .left-col .site_title {
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  line-height: 59px;
  display: block;
  color: #ECF0F1 !important;
  margin-left: 0 !important;
}
.type-25 .left-col .site_title i {
  border: 1px solid #EAEAEA;
  padding: 5px 6px;
  border-radius: 50%;
}
.type-25 .left-col .profile {
  margin-bottom: 20px;
}
.type-25 .left-col .profile .profile_pic {
  width: 35%;
  float: left;
  padding: 0px;
}
.type-25 .left-col .profile .profile_img {
  width: 70%;
  background: #fff;
  z-index: 1000;
  position: inherit;
  margin-top: 20px;
  border: 1px solid rgba(52,73,94,0.44);
  padding: 4px;
  border-radius: 50%;
}
.type-25 .left-col .profile .profile_info {
  padding: 20px 10px 10px;
  width: 65%;
  float: left;
}
.type-25 .left-col .profile .profile_info span {
  font-size: 13px;
  line-height: 30px;
  color: #BAB8B8;
}
.type-25 .left-col .profile .profile_info h2 {
  font-size: 14px;
  color: #ECF0F1;
  margin: 0;
  font-weight: 300;
}
.type-25 .left-col .main_menu {
  padding: 0px;
  margin-bottom: 60px;
}
.type-25 .left-col .main_menu .menu_section h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 700;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 0;
  text-shadow: 1px 1px #000;
}
.type-25 .left-col .main_menu .fa {
  width: 26px;
  opacity: .99;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-size: 18px;
  -moz-osx-font-smoothing: grayscale;
  padding-left: 0px;
  font-weight: 500;
}
.type-25 .left-col .main_menu .bt {
  text-align: left;
  width: 100%;
  margin: 0 0 6px;
  position: relative;
  border-radius: 0px;
  background: none;
  color: #000;
}
.type-25 .left-col .main_menu .bt:hover,
.type-25 .left-col .main_menu .bt:focus {
  color: #333;
  text-decoration: none;
  background: linear-gradient(#334556,#2C4257), #2A3F54;
}
.type-25 .left-col .main_menu a:focus {
  background: none;
}
.type-25 .left-col .main_menu .drop {
  margin: 5px 0;
}
.type-25 .left-col .main_menu span.fa {
  float: right;
  text-align: center;
  margin-top: 5px;
  font-size: 10px;
  min-width: inherit;
  color: #C4CFDA;
}
.type-25 .left-col .main_menu h5 {
  margin: 0px;
  font-size: 11px;
}
.type-25 .left-col .main_menu .child_menu a:hover {
  background: rgba(255,255,255,0.05);
}
.type-25 .left-col .main_menu .label {
  line-height: 15px;
  margin-top: 4px;
  padding: 0px;
}
.type-25 .left-col .main_menu .pull-right {
  float: right !important;
  background-color: #5cb85c;
  position: absolute;
  top: -24px;
  margin: 31px;
}
.type-25 .left-col .sidebar-footer {
  bottom: 0;
  display: block;
  padding: 5px 0 0;
  position: fixed;
  width: 16.67%;
  background: #2A3F54;
  z-index: 999;
  left: 0;
}
.type-25 .left-col .sidebar-footer a {
  padding: 7px 0 3px;
  text-align: center;
  width: 25%;
  font-size: 17px;
  display: block;
  float: left;
  background: #172D44;
  cursor: pointer;
  color: #5A738E;
}
.type-25 .left-col .sidebar-footer a:hover {
  color: #23527c;
  background: #425567;
}
.type-25 .left-col ul.nav.child_menu li:before {
  background: #425668;
  content: "";
  height: 8px;
  left: 3px;
  margin-top: 15px;
  position: absolute;
  width: 8px;
  border-radius: 50%;
}
.type-25 .left-col ul.nav.child_menu li:after {
  border-left: 1px solid #425668;
  bottom: 0;
  content: "";
  left: 7px;
  position: absolute;
  top: 0;
}
.type-25 .left-col .c_home {
  border-right: 5px solid #1ABB9C;
}
.type-25 .left-col .one {
  padding: 15px;
}
.type-25 .right-col {
  background: #f7f7f7;
}
.type-25 .nav_menu {
  background-color: #ededed;
  border-bottom: 1px solid #d9dee4;
}
.type-25 .nav_menu #menu-toggle {
  color: #5A738E;
  font-size: 26px;
  border: none;
  background-color: #ededed;
  padding: 8px 15px;
}
.type-25 .nav_menu #menu-toggle:hover {
  color: #2A3F54;
}
.type-25 .nav_menu .nav {
  margin-right: 0px;
  height: 50px;
}
.type-25 .nav_menu .nav .bt {
  text-align: left;
  width: 100%;
  margin: 0 0 6px;
  position: relative;
  border-radius: 0px;
  background: none;
}
.type-25 .nav_menu .nav .bt a {
  color: #515356 !important;
  text-decoration: none;
}
.type-25 .nav_menu .nav .drop:hover,
.type-25 .nav_menu .nav .drop:focus {
  color: #333;
  text-decoration: none;
  background: #D9DEE4;
  height: 53px;
}
.type-25 .nav_menu .nav .drop {
  float: right;
  padding: 13px 15px 12px;
  height: 60px;
}
.type-25 .nav_menu img {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}
.type-25 .nav_menu .c_john {
  position: absolute;
  right: 9px;
  top: 54px;
  background: #fff;
  z-index: 10;
}
.type-25 .nav_menu .c_john ul {
  list-style: none;
}
.type-25 .nav_menu .c_john ul li {
  margin: 15px;
}
.type-25 .nav_menu .c_john ul li a {
  color: #5A738E;
  text-decoration: none;
}
.type-25 .nav_menu .c_john ul li a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.type-25 .nav_menu .bg-red {
  background: #E74C3C !important;
  border: 1px solid #E74C3C !important;
  color: #fff;
  margin-left: 50px;
}
.type-25 .nav_menu .badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
.type-25 .nav_menu .bg-green {
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: -11px;
  top: -8px;
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff;
  text-align: center;
}
.type-25 .nav_menu .c_mail {
  top: 54px;
  position: absolute;
  right: 129px;
  background: #fff;
  z-index: 10;
}
.type-25 .nav_menu .c_mail a {
  text-decoration: none;
  color: #5A738E;
}
.type-25 .nav_menu .c_mail a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.type-25 .nav_menu .c_mail span {
  white-space: normal;
}
.type-25 .nav_menu .c_mail ul {
  list-style: none;
}
.type-25 .nav_menu .c_mail .image img {
  border-radius: 2px;
}
.type-25 .nav_menu .c_mail .time {
  font-size: 11px;
  font-style: italic;
  font-weight: 700;
  position: absolute;
  right: 13px;
}
.type-25 .nav_menu .c_mail .message {
  display: block !important;
  font-size: 11px;
}
.type-25 .nav_menu .c_mail .ago {
  padding: 5px;
  margin: 6px;
  background: #f5f5f5;
}
.type-25 .page-title .title_left {
  width: 45%;
  float: left;
  display: block;
}
.type-25 .page-title h3 {
  color: #73879C;
}
.type-25 .page-title .title_right {
  width: 55%;
  float: left;
  display: block;
}
.type-25 .page-title .pull-right {
  margin: 20px 0 0 0;
}
.type-25 .page-title .input-group {
  margin-bottom: 10px;
}
.type-25 .page-title .form-control {
  border-radius: 25px 0 0 25px;
  padding-left: 20px;
  border: 1px solid rgba(221,226,232,0.49);
}
.type-25 .page-title .input-group-btn button {
  border-radius: 0 25px 25px 0;
  border: 1px solid rgba(221,226,232,0.49);
  border-left: 0;
  color: #93A2B2;
}
.type-25 .content2 {
  color: #73879C;
  font-size: 13px;
  padding-bottom: 130px;
}
.type-25 .content2 a {
  color: #5A738E;
  text-decoration: none;
}
.type-25 .content2 .x_panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
}
.type-25 .content2 .x_title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.type-25 .content2 h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 18px;
  font-weight: 400;
}
.type-25 .content2 small {
  margin-left: 10px;
  font-weight: 400;
  color: #777;
}
.type-25 .content2 .navbar-right {
  float: right;
}
.type-25 .content2 .panel_toolbox>li {
  float: left;
  cursor: pointer;
}
.type-25 .content2 .panel_toolbox>li>a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.type-25 .content2 span.section {
  display: block;
  margin-bottom: 20px;
  font-size: 21px;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.type-25 .content2 .ln_solid {
  border-top: 1px solid #e5e5e5;
  color: #fff;
  background-color: #fff;
  height: 1px;
  margin: 20px 0;
}
.type-25 .content2 .form-group {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 10px;
}
.type-25 .content2 .form-control {
  border-radius: 0px;
}
.type-25 .content2 .control-label {
  padding-top: 8px;
}
.type-25 .content2 .btn-success:hover {
  color: #fff;
  background: #169F85;
  border-color: #398439;
}
.type-25 .content2 .btn-success {
  background: #26B99A;
  border: 1px solid #169F85;
  margin-left: 5px;
}
.type-25 .content2 .btn {
  border-radius: 3px;
}
.type-25 .content2 .numb {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
}
.type-25 .content2 #textarea {
  height: 54px;
}
.type-25 .content2 .error {
  float: left;
  border-radius: 3px 4px 4px 3px;
  background-color: #CE5454;
  white-space: pre;
  position: relative;
  left: -15px;
  color: #fff;
  margin: 5px 0 0 20px;
  padding: 0px 10px;
}
.type-25 .content2 .btn-success .error:after {
  display: block;
}
@media (max-width: 1270px) {
  .type-25 small {
    display: none;
  }
}
.type-25 footer {
  background: #fff;
  padding: 15px 20px;
  display: block;
}
.type-25 footer a {
  color: #5A738E;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .x_title h2 {
    width: 62%;
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .left-col {
    display: none;
  }
  .left-repon {
    display: block;
  }
  .type-25.toggled .left-repon {
    margin-left: 180px;
    display: block;
    text-align: center !important;
  }
  .type-25.toggled .left-repon .logo-repon .fa {
    font-size: 27px !important;
    margin: 13px 5px 20px -3px;
  }
  .type-25.toggled .left-repon .logo-repon i {
    border: 1px solid #EAEAEA;
    padding: 10px 6px;
    border-radius: 50%;
  }
  .type-25.toggled .left-repon ul {
    padding: 0px;
  }
  .type-25.toggled .left-repon .menu-repon ul li a .fa {
    font-size: 25px !important;
    margin: 13px 0 0 -5px;
    font-weight: 400;
  }
  .type-25.toggled .left-repon a {
    font-size: 10px;
    text-align: center !important;
  }
}
@media (min-width: 992px) {
  .left-col {
    display: block;
  }
  .left-repon {
    display: none;
  }
  .type-25.toggled {
    margin-left: -180px;
  }
  .type-25.toggled .sidebar-footer {
    display: none;
  }
  .type-25.toggled .scroll-view {
    display: none;
  }
  .type-25.toggled .left-repon {
    margin-left: 180px;
    display: block;
    text-align: center !important;
  }
  .type-25.toggled .left-repon .logo-repon .fa {
    font-size: 27px !important;
    margin: 13px 5px 20px -3px;
  }
  .type-25.toggled .left-repon .logo-repon i {
    border: 1px solid #EAEAEA;
    padding: 10px 6px;
    border-radius: 50%;
  }
  .type-25.toggled .left-repon ul {
    padding: 0px;
  }
  .type-25.toggled .left-repon .menu-repon ul li a .fa {
    font-size: 25px !important;
    margin: 13px 0 0 -5px;
    font-weight: 400;
  }
  .type-25.toggled .left-repon a {
    font-size: 10px;
    text-align: center !important;
  }
  .type-25.toggled .left-repon .pull-right {
    background-color: #5cb85c;
  }
}
