.type-4 .swiper-container {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.type-4 .swiper-container .swiper-wrapper {
  height: auto !important;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
}
.type-4 .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.type-4 .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
}
.type-4 .swiper-container .swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.type-4 .swiper-container .swiper-button-prev,
.type-4 .swiper-container .swiper-button-next {
  left: 10px;
  right: auto;
}
.type-4 .swiper-container .swiper-button-prev .fa,
.type-4 .swiper-container .swiper-button-next .fa {
  font-size: 40px;
  color: #cecece;
}
.type-4 .swiper-container .swiper-button-prev .fa:hover,
.type-4 .swiper-container .swiper-button-next .fa:hover {
  opacity: 0.9;
}
.type-4 .swiper-container .swiper-button-prev .btn-prev {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #532f1f;
  font-size: 0.95em;
}
.type-4 .swiper-container .swiper-button-next .btn-next {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #532f1f;
  font-size: 0.95em;
}
.type-4 .swiper-container .swiper-button-next,
.type-4 .swiper-container .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  color: #bdbdbd;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.type-4 .swiper-container .swiper-button-next,
.type-4 .swiper-container .swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}
.type-4 .hear {
  position: absolute;
  top: 0;
  z-index: 10;
  top: 40px;
  width: 100%;
}
.type-4 .hear .navbar {
  background: #fff;
  border: none;
  border-radius: 0;
  font-family: PT Serif;
}
.type-4 .hear .navbar a {
  color: #000;
  font-size: 16px;
}
.type-4 .hear .navbar a:hover {
  color: #000;
}
.type-4 .hear .navbar .navbar-header {
  background: #fff;
}
.type-4 .hear .navbar .navbar-header .navbar-toggle {
  background: #cecece;
}
.type-4 .hear .navbar .navbar-header .icon-bar {
  background-color: #fff;
}
.type-4 .hear .navbar .navbar-header .navbar-toggle:hover {
  color: #cecece;
}
.type-4 .hear .navbar .navbar {
  font-size: 11px;
  position: relative;
  background: #fff;
  margin-bottom: 1px;
  border: none;
}
.type-4 .hear .navbar .dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 8px;
}
.type-4 .hear .navbar .dropdown-menu li {
  background: #fff;
  padding: 5px;
  border-bottom: 1px solid #000;
}
.type-4 .hear .navbar .dropdown-menu li a {
  display: initial;
  color: #000;
  font-size: 13px;
  padding: 15px 15px 15px 0;
}
.type-4 .hear .navbar .dropdown-menu a:hover {
  background: none;
}
.type-4 .hear .navbar .dropdown-menu li:hover {
  background: #f7f7f7;
}
.type-4 .main-text {
  position: absolute;
  z-index: 999;
  top: 200px;
  left: 100px;
}
.type-4 .main-text a {
  color: #fff;
}
.type-4 .main-text .login {
  border: 1px solid #000;
  background: #000;
}
.type-4 .main-text .registration {
  border: 1px solid #000;
  background: blue;
}
.type-4 .mail {
  position: absolute;
  top: 5px;
  background: #fff;
  width: 30%;
  z-index: 20;
  height: 35px !important;
  right: 100px;
}
.type-4 .mail a {
  color: #000;
  text-decoration: none;
}
.type-4 .mail .fa {
  border: 1px solid #cecece;
  border-radius: 50%;
  font-size: 18px;
  margin: 0 10px 0 10px;
}
.type-4 .title {
  width: 60%;
  text-align: center;
  background: #fff;
  z-index: 10;
  top: 376px;
}
.type-4 .title h3 {
  margin-top: 80px;
  text-align: center;
}
.type-4 .module-2 {
  background: #f7f7f7;
}
.type-4 .sileshow {
  margin-top: 120px;
  background: #eaebf3;
}
.type-4 .sileshow .module-slide {
  padding-top: 30px;
  padding-bottom: 30px;
}
.type-4 .sileshow .module-slide h4 {
  margin: 0;
}
.type-4 .sileshow .module-slide .border-title {
  border: 2px solid #00aec8;
  margin: 10px 0;
}
.type-4 .sileshow .module-slide .owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
}
.type-4 .sileshow .module-slide .owl-carousel .owl-item {
  min-height: 1px;
  float: left;
}
.type-4 .sileshow .module-slide .owl-nav .owl-next,
.type-4 .sileshow .module-slide .owl-nav .owl-prev {
  cursor: pointer;
  position: absolute;
  top: 0;
  height: 100%;
  background: #86868a;
  font-size: 28px;
  color: #fff;
}
.type-4 .sileshow .module-slide .owl-nav .owl-next i,
.type-4 .sileshow .module-slide .owl-nav .owl-prev i {
  padding: 0 5px;
  margin: 420% 0;
}
.type-4 .sileshow .module-slide .owl-nav .owl-next {
  float: right;
  right: 0;
}
.type-4 .sileshow .module-slide .owl-nav .owl-prev {
  float: left;
  left: 0;
}
.type-4 .sileshow .module-slide .owl-theme {
  position: relative;
  padding: 0 30px;
}
.type-4 .sileshow .module-slide .item {
  background: #fff;
  cursor: pointer;
  border: 1px solid #e6e6e6;
}
.type-4 .sileshow .module-slide .item p {
  margin: 0;
}
.type-4 .sileshow .module-slide .item img {
  width: 100%;
  height: 20%;
}
.type-4 .sileshow .module-slide .item .star {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
}
.type-4 .sileshow .module-slide .item .star i {
  color: #e6e6e6;
}
.type-4 .sileshow .module-slide .item .star .fa-star {
  color: #5c94d5;
}
.type-4 .sileshow .module-slide .item .price {
  position: relative;
}
.type-4 .sileshow .module-slide .item .price .price-2 {
  text-align: center;
  color: #5c94d5;
}
.type-4 .sileshow .module-slide .item .price .price-1,
.type-4 .sileshow .module-slide .item .price .price-2 {
  padding: 10px 15px;
}
.type-4 .sileshow .module-slide .item .price .triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 0px solid #686868;
  border-bottom: 25px solid #686868;
}
.type-4 .sileshow .module-slide .item .price .triangle-small {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
@media (max-width: 1200px) and (min-width: 992px) {
  .type-4 .sileshow p {
    font-size: 11px;
  }
}
@media (min-width: 993px) {
  .type-4 .sileshow .star .right-star {
    text-align: end;
  }
  .type-4 .sileshow .price .price-1 {
    border-right: 1px solid #e6e6e6;
  }
  .type-4 .sileshow .border-title {
    width: 5%;
  }
}
@media (max-width: 992px) {
  .type-4 .sileshow .item {
    text-align: center;
  }
  .type-4 .sileshow .price .price-1 {
    border-bottom: 1px solid #e6e6e6;
  }
  .type-4 .sileshow .border-title {
    width: 10%;
  }
}
.type-4 .rent {
  margin-bottom: 30px;
}
.type-4 .rent h3 {
  border-bottom: 1px solid #cecece;
  padding-bottom: 10px;
}
.type-4 .rent h2 {
  font-size: 23px;
}
.type-4 .video {
  padding-left: 10px;
}
.type-4 .video video {
  width: 100%;
  border: 10px solid #f7f7f7;
  border-radius: 5px;
}
.type-4 .our h3 {
  border-bottom: 1px solid #cecece;
  padding-bottom: 10px;
}
.type-4 .our .tab {
  margin-right: 100px;
}
.type-4 .our .tab .logo-our {
  width: 20%;
  float: left;
  border: 1px solid #cecece;
  margin-bottom: 40px;
}
.type-4 .our .tab .logo-our img {
  width: 100%;
}
.type-4 .our th {
  color: #cecece;
  text-align: center;
}
.type-4 .module-footer {
  background: #f7f7f7;
}
.type-4 .contact-us {
  margin-top: 20px;
}
.type-4 .contact-us h6 {
  font-size: 15px;
  font-weight: bold;
}
.type-4 .footer-name {
  background: #ddd;
  padding: 10px 0;
}
.type-4 .footer-name .icon {
  font-size: 18px;
}
.type-4 .footer-name .icon i {
  padding: 4px;
}
@media (min-width: 479px) {
  .footer-name .infor {
    float: left;
  }
  .footer-name .icon {
    float: right;
  }
}
@media (max-width: 478px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .footer-name {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .title {
    position: absolute;
    margin: 0 20%;
  }
  .swiper-slide {
    height: 80%;
  }
  .module-2 {
    margin-top: 100px;
  }
}
@media (max-width: 991px) {
  .title {
    margin: 20px 20%;
  }
  .title h3 {
    margin-top: 0px !important;
  }
  .video {
    padding-left: 0px !important;
  }
}
@media (min-width: 768px) {
  .col-content-5 {
    width: 20%;
  }
}
@media (min-width: 992px) {
  .top-menu {
    max-width: 960px;
  }
  .navbar-collapse {
    float: right;
  }
}
@media (max-width: 992px) {
  .top-menu {
    max-width: 960px;
  }
  .nav {
    font-size: 10px;
  }
  .sileshow {
    margin-top: 0px !important;
  }
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0;
  }
  .navbar-inverse .navbar-nav  .dropdown-menu>li>a {
    color: #573229;
  }
  .navbar-inverse .navbar-nav  .dropdown-menu>li>a:hover {
    color: #573229;
    background-color: transparent;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav  .dropdown-menu>li>a {
    color: #573229;
  }
  .navbar-inverse .navbar-nav  .dropdown-menu>li>a:hover {
    color: #573229;
    background-color: transparent;
  }
  .navbar-nav li a:hover:before {
    position: absolute;
    left: 210px;
    top: 12px;
    border-right: 6px solid transparent;
    border-top: 6px solid transparent;
    border-bottom: 6px solid #f0d898;
  }
  .navbar-nav li a:hover:after {
    display: none;
  }
}
