.type-25-1 .clear {
  clear: both;
}
.type-25-1 .content1 {
  padding-top: 10px;
  color: #73879C;
  background: #F7F7F7;
  padding-bottom: 20px;
}
.type-25-1 .content1 .green {
  color: #1ABB9C;
}
.type-25-1 .content1 .red {
  color: #E74C3C;
}
.type-25-1 .content1 .count {
  line-height: 29px;
  font-weight: 600;
  font-size: 30px;
  padding: 10px 0px;
}
.type-25-1 .content1 .tile_stats_count span {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.type-25-1 .content1 .tile_stats_count {
  border-right: 2px solid #ADB2B5;
  border-bottom: 1px solid #D9DEE4;
  padding: 0 10px 0 20px;
  position: relative;
  height: 89px;
}
.type-25-1 .content1 .last {
  border-right: none;
}
@media (max-width: 1200px) {
  .type-25-1 .tile_stats_count span {
    width: 62%;
  }
}
@media (min-width: 768px) {
  .type-25-1 .tile_stats_count .count {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .type-25-1 .row .tile_stats_count {
    margin-bottom: 10px;
    border-bottom: none;
    padding-bottom: 10px;
    height: 70px;
  }
}
