.type-12 .admin-panel1,
.type-12 .admin-panel2,
.type-12 .admin-panel3 {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background: #FFF;
  border: 1px solid #E6E9ED;
  opacity: 1;
  transition: all .2s ease;
  margin-bottom: 10px;
  position: relative;
  margin-top: 20px;
}
.type-12 .admin-panel1 .admin-title,
.type-12 .admin-panel2 .admin-title,
.type-12 .admin-panel3 .admin-title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
  margin-bottom: 10px;
}
.type-12 .admin-panel1 .admin-title h2,
.type-12 .admin-panel2 .admin-title h2,
.type-12 .admin-panel3 .admin-title h2 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 20px;
  color: #73879C;
}
.type-12 .admin-panel1 .admin-title h2 small,
.type-12 .admin-panel2 .admin-title h2 small,
.type-12 .admin-panel3 .admin-title h2 small {
  margin-left: 10px;
  font-size: 13px;
}
.type-12 .admin-panel1 .admin-title ul.items,
.type-12 .admin-panel2 .admin-title ul.items,
.type-12 .admin-panel3 .admin-title ul.items {
  min-width: 70px;
  list-style: none;
  margin-top: 5px;
  float: right;
}
.type-12 .admin-panel1 .admin-title ul.items #collapse-link1,
.type-12 .admin-panel1 .admin-title ul.items #collapse-link2,
.type-12 .admin-panel1 .admin-title ul.items #collapse-link3,
.type-12 .admin-panel1 .admin-title ul.items #close-link1,
.type-12 .admin-panel1 .admin-title ul.items #close-link2,
.type-12 .admin-panel1 .admin-title ul.items #close-link3,
.type-12 .admin-panel2 .admin-title ul.items #collapse-link1,
.type-12 .admin-panel2 .admin-title ul.items #collapse-link2,
.type-12 .admin-panel2 .admin-title ul.items #collapse-link3,
.type-12 .admin-panel2 .admin-title ul.items #close-link1,
.type-12 .admin-panel2 .admin-title ul.items #close-link2,
.type-12 .admin-panel2 .admin-title ul.items #close-link3,
.type-12 .admin-panel3 .admin-title ul.items #collapse-link1,
.type-12 .admin-panel3 .admin-title ul.items #collapse-link2,
.type-12 .admin-panel3 .admin-title ul.items #collapse-link3,
.type-12 .admin-panel3 .admin-title ul.items #close-link1,
.type-12 .admin-panel3 .admin-title ul.items #close-link2,
.type-12 .admin-panel3 .admin-title ul.items #close-link3 {
  opacity: 1;
}
.type-12 .admin-panel1 .admin-title ul.items > li,
.type-12 .admin-panel2 .admin-title ul.items > li,
.type-12 .admin-panel3 .admin-title ul.items > li {
  float: left;
  cursor: pointer;
}
.type-12 .admin-panel1 .admin-title ul.items > li > a,
.type-12 .admin-panel2 .admin-title ul.items > li > a,
.type-12 .admin-panel3 .admin-title ul.items > li > a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 14px;
}
.type-12 .admin-panel1 .admin-content1,
.type-12 .admin-panel1 .admin-content2,
.type-12 .admin-panel1 .admin-content3,
.type-12 .admin-panel2 .admin-content1,
.type-12 .admin-panel2 .admin-content2,
.type-12 .admin-panel2 .admin-content3,
.type-12 .admin-panel3 .admin-content1,
.type-12 .admin-panel3 .admin-content2,
.type-12 .admin-panel3 .admin-content3 {
  padding: 0 5px 6px;
  float: left;
  margin-top: 5px;
  width: 100%;
}
.type-12 .admin-panel1 .admin-content1 #chartPieContainer,
.type-12 .admin-panel1 .admin-content2 #chartPieContainer,
.type-12 .admin-panel1 .admin-content3 #chartPieContainer,
.type-12 .admin-panel2 .admin-content1 #chartPieContainer,
.type-12 .admin-panel2 .admin-content2 #chartPieContainer,
.type-12 .admin-panel2 .admin-content3 #chartPieContainer,
.type-12 .admin-panel3 .admin-content1 #chartPieContainer,
.type-12 .admin-panel3 .admin-content2 #chartPieContainer,
.type-12 .admin-panel3 .admin-content3 #chartPieContainer {
  margin: 15px 10px 10px 0;
  height: 150px;
  width: 100%;
}
.type-12 .admin-panel1 .admin-content1 h4,
.type-12 .admin-panel1 .admin-content2 h4,
.type-12 .admin-panel1 .admin-content3 h4,
.type-12 .admin-panel2 .admin-content1 h4,
.type-12 .admin-panel2 .admin-content2 h4,
.type-12 .admin-panel2 .admin-content3 h4,
.type-12 .admin-panel3 .admin-content1 h4,
.type-12 .admin-panel3 .admin-content2 h4,
.type-12 .admin-panel3 .admin-content3 h4 {
  font-size: 16px;
  color: #73879C;
}
.type-12 .admin-panel1 .admin-content1 .widget_summary,
.type-12 .admin-panel1 .admin-content2 .widget_summary,
.type-12 .admin-panel1 .admin-content3 .widget_summary,
.type-12 .admin-panel2 .admin-content1 .widget_summary,
.type-12 .admin-panel2 .admin-content2 .widget_summary,
.type-12 .admin-panel2 .admin-content3 .widget_summary,
.type-12 .admin-panel3 .admin-content1 .widget_summary,
.type-12 .admin-panel3 .admin-content2 .widget_summary,
.type-12 .admin-panel3 .admin-content3 .widget_summary {
  width: 100%;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.type-12 .admin-panel1 .admin-content1 .widget_summary .w_left,
.type-12 .admin-panel1 .admin-content2 .widget_summary .w_left,
.type-12 .admin-panel1 .admin-content3 .widget_summary .w_left,
.type-12 .admin-panel2 .admin-content1 .widget_summary .w_left,
.type-12 .admin-panel2 .admin-content2 .widget_summary .w_left,
.type-12 .admin-panel2 .admin-content3 .widget_summary .w_left,
.type-12 .admin-panel3 .admin-content1 .widget_summary .w_left,
.type-12 .admin-panel3 .admin-content2 .widget_summary .w_left,
.type-12 .admin-panel3 .admin-content3 .widget_summary .w_left {
  float: left;
  text-align: left;
  width: 25%;
}
.type-12 .admin-panel1 .admin-content1 .widget_summary .w_left span,
.type-12 .admin-panel1 .admin-content2 .widget_summary .w_left span,
.type-12 .admin-panel1 .admin-content3 .widget_summary .w_left span,
.type-12 .admin-panel2 .admin-content1 .widget_summary .w_left span,
.type-12 .admin-panel2 .admin-content2 .widget_summary .w_left span,
.type-12 .admin-panel2 .admin-content3 .widget_summary .w_left span,
.type-12 .admin-panel3 .admin-content1 .widget_summary .w_left span,
.type-12 .admin-panel3 .admin-content2 .widget_summary .w_left span,
.type-12 .admin-panel3 .admin-content3 .widget_summary .w_left span {
  color: #73879C;
}
.type-12 .admin-panel1 .admin-content1 .widget_summary .w_center,
.type-12 .admin-panel1 .admin-content2 .widget_summary .w_center,
.type-12 .admin-panel1 .admin-content3 .widget_summary .w_center,
.type-12 .admin-panel2 .admin-content1 .widget_summary .w_center,
.type-12 .admin-panel2 .admin-content2 .widget_summary .w_center,
.type-12 .admin-panel2 .admin-content3 .widget_summary .w_center,
.type-12 .admin-panel3 .admin-content1 .widget_summary .w_center,
.type-12 .admin-panel3 .admin-content2 .widget_summary .w_center,
.type-12 .admin-panel3 .admin-content3 .widget_summary .w_center {
  width: 55%;
}
.type-12 .admin-panel1 .admin-content1 .widget_summary .w_center .progress,
.type-12 .admin-panel1 .admin-content2 .widget_summary .w_center .progress,
.type-12 .admin-panel1 .admin-content3 .widget_summary .w_center .progress,
.type-12 .admin-panel2 .admin-content1 .widget_summary .w_center .progress,
.type-12 .admin-panel2 .admin-content2 .widget_summary .w_center .progress,
.type-12 .admin-panel2 .admin-content3 .widget_summary .w_center .progress,
.type-12 .admin-panel3 .admin-content1 .widget_summary .w_center .progress,
.type-12 .admin-panel3 .admin-content2 .widget_summary .w_center .progress,
.type-12 .admin-panel3 .admin-content3 .widget_summary .w_center .progress {
  border-radius: 0px;
}
.type-12 .admin-panel1 .admin-content1 .widget_summary .w_center .bg-green,
.type-12 .admin-panel1 .admin-content2 .widget_summary .w_center .bg-green,
.type-12 .admin-panel1 .admin-content3 .widget_summary .w_center .bg-green,
.type-12 .admin-panel2 .admin-content1 .widget_summary .w_center .bg-green,
.type-12 .admin-panel2 .admin-content2 .widget_summary .w_center .bg-green,
.type-12 .admin-panel2 .admin-content3 .widget_summary .w_center .bg-green,
.type-12 .admin-panel3 .admin-content1 .widget_summary .w_center .bg-green,
.type-12 .admin-panel3 .admin-content2 .widget_summary .w_center .bg-green,
.type-12 .admin-panel3 .admin-content3 .widget_summary .w_center .bg-green {
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff;
}
.type-12 .admin-panel1 .admin-content1 .widget_summary .w_center span,
.type-12 .admin-panel1 .admin-content2 .widget_summary .w_center span,
.type-12 .admin-panel1 .admin-content3 .widget_summary .w_center span,
.type-12 .admin-panel2 .admin-content1 .widget_summary .w_center span,
.type-12 .admin-panel2 .admin-content2 .widget_summary .w_center span,
.type-12 .admin-panel2 .admin-content3 .widget_summary .w_center span,
.type-12 .admin-panel3 .admin-content1 .widget_summary .w_center span,
.type-12 .admin-panel3 .admin-content2 .widget_summary .w_center span,
.type-12 .admin-panel3 .admin-content3 .widget_summary .w_center span {
  color: #73879C;
}
.type-12 .admin-panel1 .admin-content1 .widget_summary .w_right,
.type-12 .admin-panel1 .admin-content2 .widget_summary .w_right,
.type-12 .admin-panel1 .admin-content3 .widget_summary .w_right,
.type-12 .admin-panel2 .admin-content1 .widget_summary .w_right,
.type-12 .admin-panel2 .admin-content2 .widget_summary .w_right,
.type-12 .admin-panel2 .admin-content3 .widget_summary .w_right,
.type-12 .admin-panel3 .admin-content1 .widget_summary .w_right,
.type-12 .admin-panel3 .admin-content2 .widget_summary .w_right,
.type-12 .admin-panel3 .admin-content3 .widget_summary .w_right {
  width: 20%;
  float: right;
  text-align: right;
}
.type-12 .admin-panel1 .admin-content1 .widget_summary .w_right span,
.type-12 .admin-panel1 .admin-content2 .widget_summary .w_right span,
.type-12 .admin-panel1 .admin-content3 .widget_summary .w_right span,
.type-12 .admin-panel2 .admin-content1 .widget_summary .w_right span,
.type-12 .admin-panel2 .admin-content2 .widget_summary .w_right span,
.type-12 .admin-panel2 .admin-content3 .widget_summary .w_right span,
.type-12 .admin-panel3 .admin-content1 .widget_summary .w_right span,
.type-12 .admin-panel3 .admin-content2 .widget_summary .w_right span,
.type-12 .admin-panel3 .admin-content3 .widget_summary .w_right span {
  font-size: 13px;
  color: #73879C;
  font-weight: bold;
}
.type-12 .admin-panel1 .admin-content1 table th p,
.type-12 .admin-panel1 .admin-content2 table th p,
.type-12 .admin-panel1 .admin-content3 table th p,
.type-12 .admin-panel2 .admin-content1 table th p,
.type-12 .admin-panel2 .admin-content2 table th p,
.type-12 .admin-panel2 .admin-content3 table th p,
.type-12 .admin-panel3 .admin-content1 table th p,
.type-12 .admin-panel3 .admin-content2 table th p,
.type-12 .admin-panel3 .admin-content3 table th p {
  color: #73879C;
}
.type-12 .admin-panel1 .admin-content1 table.tile_info td,
.type-12 .admin-panel1 .admin-content2 table.tile_info td,
.type-12 .admin-panel1 .admin-content3 table.tile_info td,
.type-12 .admin-panel2 .admin-content1 table.tile_info td,
.type-12 .admin-panel2 .admin-content2 table.tile_info td,
.type-12 .admin-panel2 .admin-content3 table.tile_info td,
.type-12 .admin-panel3 .admin-content1 table.tile_info td,
.type-12 .admin-panel3 .admin-content2 table.tile_info td,
.type-12 .admin-panel3 .admin-content3 table.tile_info td {
  text-align: left;
  padding: 1px;
  font-size: 13px;
  color: #73879C;
}
.type-12 .admin-panel1 .admin-content1 table.tile_info td i,
.type-12 .admin-panel1 .admin-content2 table.tile_info td i,
.type-12 .admin-panel1 .admin-content3 table.tile_info td i,
.type-12 .admin-panel2 .admin-content1 table.tile_info td i,
.type-12 .admin-panel2 .admin-content2 table.tile_info td i,
.type-12 .admin-panel2 .admin-content3 table.tile_info td i,
.type-12 .admin-panel3 .admin-content1 table.tile_info td i,
.type-12 .admin-panel3 .admin-content2 table.tile_info td i,
.type-12 .admin-panel3 .admin-content3 table.tile_info td i {
  margin-right: 2px;
  float: left;
  line-height: 23px;
}
.type-12 .admin-panel1 .admin-content1 table.tile_info td:first-child,
.type-12 .admin-panel1 .admin-content2 table.tile_info td:first-child,
.type-12 .admin-panel1 .admin-content3 table.tile_info td:first-child,
.type-12 .admin-panel2 .admin-content1 table.tile_info td:first-child,
.type-12 .admin-panel2 .admin-content2 table.tile_info td:first-child,
.type-12 .admin-panel2 .admin-content3 table.tile_info td:first-child,
.type-12 .admin-panel3 .admin-content1 table.tile_info td:first-child,
.type-12 .admin-panel3 .admin-content2 table.tile_info td:first-child,
.type-12 .admin-panel3 .admin-content3 table.tile_info td:first-child {
  width: 83%;
}
.type-12 .admin-panel1 .admin-content1 .fa.blue,
.type-12 .admin-panel1 .admin-content2 .fa.blue,
.type-12 .admin-panel1 .admin-content3 .fa.blue,
.type-12 .admin-panel2 .admin-content1 .fa.blue,
.type-12 .admin-panel2 .admin-content2 .fa.blue,
.type-12 .admin-panel2 .admin-content3 .fa.blue,
.type-12 .admin-panel3 .admin-content1 .fa.blue,
.type-12 .admin-panel3 .admin-content2 .fa.blue,
.type-12 .admin-panel3 .admin-content3 .fa.blue {
  color: blue;
}
.type-12 .admin-panel1 .admin-content1 .fa.red,
.type-12 .admin-panel1 .admin-content2 .fa.red,
.type-12 .admin-panel1 .admin-content3 .fa.red,
.type-12 .admin-panel2 .admin-content1 .fa.red,
.type-12 .admin-panel2 .admin-content2 .fa.red,
.type-12 .admin-panel2 .admin-content3 .fa.red,
.type-12 .admin-panel3 .admin-content1 .fa.red,
.type-12 .admin-panel3 .admin-content2 .fa.red,
.type-12 .admin-panel3 .admin-content3 .fa.red {
  color: red;
}
.type-12 .admin-panel1 .admin-content1 .fa.black,
.type-12 .admin-panel1 .admin-content2 .fa.black,
.type-12 .admin-panel1 .admin-content3 .fa.black,
.type-12 .admin-panel2 .admin-content1 .fa.black,
.type-12 .admin-panel2 .admin-content2 .fa.black,
.type-12 .admin-panel2 .admin-content3 .fa.black,
.type-12 .admin-panel3 .admin-content1 .fa.black,
.type-12 .admin-panel3 .admin-content2 .fa.black,
.type-12 .admin-panel3 .admin-content3 .fa.black {
  color: black;
}
.type-12 .admin-panel1 .admin-content1 .fa.gray,
.type-12 .admin-panel1 .admin-content2 .fa.gray,
.type-12 .admin-panel1 .admin-content3 .fa.gray,
.type-12 .admin-panel2 .admin-content1 .fa.gray,
.type-12 .admin-panel2 .admin-content2 .fa.gray,
.type-12 .admin-panel2 .admin-content3 .fa.gray,
.type-12 .admin-panel3 .admin-content1 .fa.gray,
.type-12 .admin-panel3 .admin-content2 .fa.gray,
.type-12 .admin-panel3 .admin-content3 .fa.gray {
  color: gray;
}
.type-12 .admin-panel1 .admin-content1 .fa.orange,
.type-12 .admin-panel1 .admin-content2 .fa.orange,
.type-12 .admin-panel1 .admin-content3 .fa.orange,
.type-12 .admin-panel2 .admin-content1 .fa.orange,
.type-12 .admin-panel2 .admin-content2 .fa.orange,
.type-12 .admin-panel2 .admin-content3 .fa.orange,
.type-12 .admin-panel3 .admin-content1 .fa.orange,
.type-12 .admin-panel3 .admin-content2 .fa.orange,
.type-12 .admin-panel3 .admin-content3 .fa.orange {
  color: orange;
}
.type-12 .admin-panel1 .admin-content1 ul.quick-list,
.type-12 .admin-panel1 .admin-content2 ul.quick-list,
.type-12 .admin-panel1 .admin-content3 ul.quick-list,
.type-12 .admin-panel2 .admin-content1 ul.quick-list,
.type-12 .admin-panel2 .admin-content2 ul.quick-list,
.type-12 .admin-panel2 .admin-content3 ul.quick-list,
.type-12 .admin-panel3 .admin-content1 ul.quick-list,
.type-12 .admin-panel3 .admin-content2 ul.quick-list,
.type-12 .admin-panel3 .admin-content3 ul.quick-list {
  width: 45%;
  padding-left: 0;
  float: left;
  list-style: none;
  padding: 0px;
}
.type-12 .admin-panel1 .admin-content1 ul.quick-list li,
.type-12 .admin-panel1 .admin-content2 ul.quick-list li,
.type-12 .admin-panel1 .admin-content3 ul.quick-list li,
.type-12 .admin-panel2 .admin-content1 ul.quick-list li,
.type-12 .admin-panel2 .admin-content2 ul.quick-list li,
.type-12 .admin-panel2 .admin-content3 ul.quick-list li,
.type-12 .admin-panel3 .admin-content1 ul.quick-list li,
.type-12 .admin-panel3 .admin-content2 ul.quick-list li,
.type-12 .admin-panel3 .admin-content3 ul.quick-list li {
  padding-left: 10px;
  list-style: none;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 4px;
}
.type-12 .admin-panel1 .admin-content1 ul.quick-list li i,
.type-12 .admin-panel1 .admin-content2 ul.quick-list li i,
.type-12 .admin-panel1 .admin-content3 ul.quick-list li i,
.type-12 .admin-panel2 .admin-content1 ul.quick-list li i,
.type-12 .admin-panel2 .admin-content2 ul.quick-list li i,
.type-12 .admin-panel2 .admin-content3 ul.quick-list li i,
.type-12 .admin-panel3 .admin-content1 ul.quick-list li i,
.type-12 .admin-panel3 .admin-content2 ul.quick-list li i,
.type-12 .admin-panel3 .admin-content3 ul.quick-list li i {
  padding-right: 10px;
  color: #73879C;
}
.type-12 .admin-panel1 .admin-content1 ul.quick-list a,
.type-12 .admin-panel1 .admin-content2 ul.quick-list a,
.type-12 .admin-panel1 .admin-content3 ul.quick-list a,
.type-12 .admin-panel2 .admin-content1 ul.quick-list a,
.type-12 .admin-panel2 .admin-content2 ul.quick-list a,
.type-12 .admin-panel2 .admin-content3 ul.quick-list a,
.type-12 .admin-panel3 .admin-content1 ul.quick-list a,
.type-12 .admin-panel3 .admin-content2 ul.quick-list a,
.type-12 .admin-panel3 .admin-content3 ul.quick-list a {
  color: #73879C;
  text-decoration: none;
}
.type-12 .admin-panel1 .admin-content1 ul.quick-list a:hover,
.type-12 .admin-panel1 .admin-content2 ul.quick-list a:hover,
.type-12 .admin-panel1 .admin-content3 ul.quick-list a:hover,
.type-12 .admin-panel2 .admin-content1 ul.quick-list a:hover,
.type-12 .admin-panel2 .admin-content2 ul.quick-list a:hover,
.type-12 .admin-panel2 .admin-content3 ul.quick-list a:hover,
.type-12 .admin-panel3 .admin-content1 ul.quick-list a:hover,
.type-12 .admin-panel3 .admin-content2 ul.quick-list a:hover,
.type-12 .admin-panel3 .admin-content3 ul.quick-list a:hover {
  color: #73879C;
}
.type-12 .admin-panel1 .admin-content1 p,
.type-12 .admin-panel1 .admin-content2 p,
.type-12 .admin-panel1 .admin-content3 p,
.type-12 .admin-panel2 .admin-content1 p,
.type-12 .admin-panel2 .admin-content2 p,
.type-12 .admin-panel2 .admin-content3 p,
.type-12 .admin-panel3 .admin-content1 p,
.type-12 .admin-panel3 .admin-content2 p,
.type-12 .admin-panel3 .admin-content3 p {
  padding: 0px;
  margin-top: 10px;
  margin-left: 5px;
}
.type-12 .admin-panel1 .admin-content1 ul,
.type-12 .admin-panel1 .admin-content2 ul,
.type-12 .admin-panel1 .admin-content3 ul,
.type-12 .admin-panel2 .admin-content1 ul,
.type-12 .admin-panel2 .admin-content2 ul,
.type-12 .admin-panel2 .admin-content3 ul,
.type-12 .admin-panel3 .admin-content1 ul,
.type-12 .admin-panel3 .admin-content2 ul,
.type-12 .admin-panel3 .admin-content3 ul {
  padding: 0px;
}
.type-12 .admin-panel1 .admin-content1.toggled,
.type-12 .admin-panel1 .admin-content2.toggled,
.type-12 .admin-panel1 .admin-content3.toggled,
.type-12 .admin-panel2 .admin-content1.toggled,
.type-12 .admin-panel2 .admin-content2.toggled,
.type-12 .admin-panel2 .admin-content3.toggled,
.type-12 .admin-panel3 .admin-content1.toggled,
.type-12 .admin-panel3 .admin-content2.toggled,
.type-12 .admin-panel3 .admin-content3.toggled {
  display: none;
}
.type-12 .admin-panel1.toggled,
.type-12 .admin-panel2.toggled,
.type-12 .admin-panel3.toggled {
  display: none;
}
