@display-none: none;
@display-block: block;
@margin-bottom: 0px;
@margin: 0;
@background: #2A3F54;
@text-align: center;
@float: left;
@position: absolute;

.type-1{  
    border: none;
    height: auto;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.471;

    .nav-md {
        .nav-sidebar-menu  {
            width: 230px;
            z-index: 1;
            display: flex;
        }
        @media(max-width: 991px) {
            .nav-sidebar-menu {
                display: @display-none;
            }
            .top_nav {
                width: 100%!important;
                margin: @margin!important;
            }
        }
    }

    .nav-sm {
        
        .nav-sidebar-menu {
            width: 70px;
            z-index: 9999;
            transition: .2s all ease-in-out;
            .label {
                display: @display-block!important;
                font-size: 75%!important;
                margin-right: 0px!important;
            }
            .scroll-view {
                
                .nav_title {
                    span {
                        display: @display-none;
                    }
                    i {
                        font-size: 27px;
                        margin: 13px 0 0 3px;
                    }
                }
                .profile {
                    display: @display-none;
                }
                .main_menu {
                    h3 {
                        display: @display-none;
                    }
                    .menu-list {
                        margin-bottom: @margin-bottom!important;

                        ul {
                            margin-bottom: @margin-bottom!important;
                        }
                        .child_menu {
                            left: 93%;
                            position: @position;
                            top: 0;
                            padding-left: 0px!important;
                            width: 210px;
                            z-index: 4000;
                            background: #3E5367;

                            li {
                                padding: 0 10px!important;

                            }	
                            li:before, li:after {
                                display: @display-none;
                            }
                            a {
                                text-align: left!important;
                            }
                        }


                    }
                    .side-menu {
                        li {
                            a {
                                text-align: @text-align!important;
                                font-weight: 400;
                                font-size: 10px;
                                padding: 10px 5px!important;
                            }
                            i {
                                font-size: 25px!important;
                                text-align: @text-align;
                                width: 100%!important;
                                margin-bottom: 5px;
                            }
                            .down {
                                display: @display-none!important;
                            }
                        }
                    }
                }
                .hidden-small {
                    display: @display-none;
                }
            }
        }
        .top_nav {
            display: @display-block;
            margin-left: 70px!important;
            z-index: 2;
        }
    }
    .nav-sidebar-menu {
        min-height: 100%;   
        padding: 0;
        position: @position;
        background: @background;
        transition: .1s all ease-in-out;

        .scroll-view {
            width: 100%;

            .navbar {
                margin-bottom: @margin-bottom;
            }
            .nav_title {
                width: 100%;
                float: @float;
                background: @background;
                border-radius: 0;
                height: 57px;
                white-space: nowrap;
                .site_title {
                    text-decoration: none;
                    font-weight: 400;
                    font-size: 22px;
                    width: 100%;
                    line-height: 59px;
                    display: @display-block;
                    height: 55px;
                    margin: @margin;
                    padding-left: 10px;
                    color: #ECF0F1!important;
                    margin-left: 0!important;

                    i {
                        border: 1px solid #EAEAEA;
                        padding: 5px 6px;
                        border-radius: 50%;
                    }
                }
                .site_title:hover {
                    text-decoration: none;
                }
            }
            .profile  {
                .profile_pic {
                    width: 35%;
                    float: @float;

                    .profile_img {
                        width: 70%;
                        background: #fff;
                        margin-left: 15%;
                        z-index: 1000;
                        position: inherit;
                        margin-top: 20px;
                        border: 1px solid rgba(52,73,94,.44);
                        padding: 4px;
                    }
                }
                .profile_info {
                    padding: 25px 10px 10px;
                    width: 65%;
                    float: @float;

                    span {
                        font-size: 13px;
                        line-height: 30px;
                        color: #BAB8B8;
                    }
                    h2 {
                        font-size: 14px;
                        color: #ECF0F1;
                        margin: @margin;
                        font-weight: 300;
                    }
                }
            }
            .main_menu {
                padding: 0;

                .menu-list{
                    margin-bottom: 35px;

                    h3 {
                        padding-left: 15px;
                        color: #fff;
                        text-transform: uppercase;
                        letter-spacing: .5px;
                        font-weight: 700;
                        font-size: 11px;
                        margin-bottom: @margin-bottom;
                        margin-top: 0;
                        text-shadow: 1px 1px #000;
                    }
                    .live-on {
                        margin-bottom: 10px!important;
                        margin-top: 30px!important;
                    }
                    .side-menu {
                        margin-top: 10px;

                        li {
                            position: relative;
                            display: @display-block;
                            cursor: pointer;
                            background-color: transparent!important;
                            border: none!important;

                            a:focus {
                                border-right: 4px solid #1ABB9C;
                                text-shadow: rgba(0,0,0,.25) 0 -1px 0;
                                background: linear-gradient(#334556,#2C4257),@background;
                                box-shadow: rgba(0,0,0,.25) 0 1px 0,inset rgba(255,255,255,.16) 0 1px 0;

                            }
                            a:hover {
                                background: none;
                            }
                            a {
                                color: #E7E7E7;
                                font-weight: 500;
                                padding: 13px 15px 12px;
                                position: relative;
                                display: @display-block;

                                .fa {
                                    width: 26px;
                                    opacity: .99;
                                    display: inline-block;
                                    font-family: FontAwesome;
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 18px;
                                }
                                .fa-chevron-down {
                                    text-align: right!important;
                                    margin-right: 4px;
                                    float: right;
                                    margin-top: 5px;
                                    min-width: inherit;
                                    color: #C4CFDA;
                                    font-size: 12px;
                                }
                                .down {
                                    font-size: 10px!important;
                                }
                            }
                            .child_menu {
                                border-right: 4px solid #1ABB9C;
                                padding-left: 36px;
                                a {
                                    margin-bottom: 0;
                                }
                                li:after {
                                    bottom: 0;
                                    content: "";
                                    left: -12px;
                                    position: @position;
                                    top: 0;
                                }
                                li:before {
                                    background: #425668;
                                    bottom: auto;
                                    content: "";
                                    height: 8px;
                                    left: -16px;
                                    margin-top: 15px;
                                    position: @position;
                                    right: auto;
                                    width: 8px;
                                    z-index: 1;
                                    border-radius: 50%;
                                }
                            }
                            .label {
                                line-height: 11px;
                                margin-top: 4px;
                                display: inline;
                                padding: .2em .6em .3em;
                                font-size: 75%;
                                font-weight: 700;
                                line-height: 1;
                                color: #fff;
                                text-align: @text-align;
                                white-space: nowrap;
                                vertical-align: baseline;
                                border-radius: .25em;
                            }
                        }
                    }
                }
            }
            .sidebar-footer {
                bottom: 0;
                display: @display-block;
                padding: 5px 0 0;
                position: fixed;
                width: 230px;
                background: @background;
                z-index: 100;

                a {
                    padding: 7px 0 3px;
                    text-align: @text-align;
                    width: 25%;
                    font-size: 17px;
                    display: @display-block;
                    float: @float;
                    color: #5A738E;
                    background: #172D44;
                    cursor: pointer;
                }
                a:hover {
                    background: #425567!important;
                }
            }
        }
    }
    .top_nav {
        display: @display-block;
        margin-left: 230px!important;
        transition: .1s all ease-in-out;
        .nav_menu {
            float: @float;
            background: #EDEDED;
            border-bottom: 1px solid #D9DEE4;
            margin-bottom: 10px;
            width: 100%;
            position: relative;

            .toggle {
                float: @float;
                margin: @margin;
                padding: 10px 0;
                width: 70px;

                i {
                    font-size: 26px;
                }
                a {
                    padding: 15px 15px 0;
                    margin: @margin;
                    cursor: pointer;
                    color: #5A738E;
                }
            }
        }
    }
}

@media(max-width: 480px) {
    .nav-sidebar-menu {
        display: @display-none;
    }
    .top_nav {
        width: 100%!important;
        margin: @margin!important;
    }
}


@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}