.invoice {
  background: #2A3F54;
}
.invoice .left_col {
  border: none;
  min-height: 100%;
  z-index: 998;
  padding: 0;
  background: #2A3F54;
}
.invoice .left_col .nav-sidemenu .nav_logo {
  width: 100%;
  float: left;
  background: #2A3F54;
  border-radius: 0;
  height: 57px;
  white-space: nowrap;
}
.invoice .left_col .nav-sidemenu .nav_logo .site_title {
  text-decoration: none;
  font-weight: 400;
  font-size: 22px;
  width: 100%;
  line-height: 59px;
  display: block;
  height: 55px;
  margin: 0;
  padding-left: 10px;
  color: #ECF0F1 !important;
  margin-left: 0 !important;
}
.invoice .left_col .nav-sidemenu .nav_logo .site_title i {
  border: 1px solid #EAEAEA;
  padding: 5px 6px;
  border-radius: 50%;
}
.invoice .left_col .nav-sidemenu .nav_logo .site_title:hover {
  text-decoration: none;
}
.invoice .left_col .nav-sidemenu .nav_profile .profile_pic {
  width: 35%;
  float: left;
}
.invoice .left_col .nav-sidemenu .nav_profile .profile_pic .profile_img {
  width: 70%;
  background: #fff;
  margin-left: 15%;
  z-index: 1000;
  position: inherit;
  border: 1px solid rgba(52,73,94,0.44);
  padding: 4px;
}
.invoice .left_col .nav-sidemenu .nav_profile .profile_info {
  padding: 6px 10px 10px;
  width: 65%;
  float: left;
}
.invoice .left_col .nav-sidemenu .nav_profile .profile_info span {
  font-size: 13px;
  line-height: 30px;
  color: #BAB8B8;
}
.invoice .left_col .nav-sidemenu .nav_profile .profile_info h2 {
  font-size: 14px;
  color: #ECF0F1;
  margin: 0;
  font-weight: 300;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu {
  padding: 0;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list {
  margin-bottom: 35px;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list h3 {
  padding-left: 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 0px;
  margin-top: 25px;
  text-shadow: 1px 1px #000;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list .live-on {
  margin-bottom: 10px !important;
  margin-top: 30px !important;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu {
  margin-top: 10px;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li {
  position: relative;
  display: block;
  cursor: pointer;
  background-color: transparent !important;
  border: none !important;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li a:focus {
  border-right: 4px solid #1ABB9C;
  text-shadow: rgba(0,0,0,0.25) 0 -1px 0;
  background: linear-gradient(#334556,#2C4257), #2A3F54;
  box-shadow: rgba(0,0,0,0.25) 0 1px 0, inset rgba(255,255,255,0.16) 0 1px 0;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li a:hover {
  background: none;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li a {
  color: #E7E7E7;
  font-weight: 500;
  padding: 13px 15px 12px;
  position: relative;
  display: block;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li a .fa {
  width: 26px;
  opacity: .99;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li a .fa-chevron-down {
  text-align: right !important;
  margin-right: 4px;
  float: right;
  margin-top: 5px;
  min-width: inherit;
  color: #C4CFDA;
  font-size: 12px;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li a .down {
  font-size: 10px !important;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li .child_menu {
  border-right: 4px solid #1ABB9C;
  padding-left: 36px;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li .child_menu a {
  margin-bottom: 0;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li .child_menu li:after {
  bottom: 0;
  content: "";
  left: -12px;
  position: absolute;
  top: 0;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li .child_menu li:before {
  background: #425668;
  bottom: auto;
  content: "";
  height: 8px;
  left: -16px;
  margin-top: 15px;
  position: absolute;
  right: auto;
  width: 8px;
  z-index: 1;
  border-radius: 50%;
}
.invoice .left_col .nav-sidemenu .nav_mainmenu .menu-list .side-menu li .label {
  padding: 4px 2px;
  text-align: center;
}
.invoice .left_col .nav-sidemenu .nav_footer {
  bottom: 0;
  display: block;
  padding: 10px 0 0;
  position: fixed;
  width: 225px;
  background: #2A3F54;
  z-index: 100;
}
.invoice .left_col .nav-sidemenu .nav_footer a {
  padding: 7px 0 3px;
  text-align: center;
  width: 25%;
  font-size: 17px;
  display: block;
  float: left;
  color: #5A738E;
  background: #172D44;
  cursor: pointer;
}
.invoice .left_col .nav-sidemenu .nav_footer a:hover {
  background: #425567 !important;
}
.invoice .right_col {
  background: #f5f5f5;
}
.invoice .right_col .top-nav {
  margin-left: -15px;
  margin-right: -15px;
}
.invoice .right_col .top-nav .nav_menu {
  background-color: #ededed;
  border-bottom: 1px solid #d9dee4;
}
.invoice .right_col .top-nav .nav_menu #menu-toggle {
  color: #5A738E;
  font-size: 26px;
  border: none;
  background-color: #ededed;
}
.invoice .right_col .top-nav .nav_menu #menu-toggle:hover {
  color: #2A3F54;
}
.invoice .right_col .top-nav .navbar-right {
  margin: 0;
  width: 70%;
  float: right;
}
.invoice .right_col .top-nav .navbar-right li.dropdown {
  position: relative;
  float: right;
  display: inline-block;
  cursor: pointer;
}
.invoice .right_col .top-nav .navbar-right li.dropdown a {
  color: #515356;
  line-height: 32px;
}
.invoice .right_col .top-nav .navbar-right li.dropdown a img {
  max-width: none;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin-right: 10px;
}
.invoice .right_col .top-nav .navbar-right li.dropdown ul.dropdown-menu {
  border-radius: 4px;
  width: 150px;
}
.invoice .right_col .top-nav .navbar-right li.dropdown ul.dropdown-menu li a {
  color: #555;
}
.invoice .right_col .top-nav .navbar-right li.dropdown ul.dropdown-menu li a .badge {
  background-color: red;
  margin-left: 25px;
}
.invoice .right_col .top-nav .navbar-right li.dropdown ul.dropdown-menu li a .fa-sign-out {
  color: #73879C;
  margin-left: 60px;
}
.invoice .right_col .top-nav .navbar-right li.dropdown ul.msg_list {
  width: 300px;
  position: absolute;
  background-color: #fff;
  margin-top: 0;
  border: 1px solid #D9DEE4;
  right: 0;
  left: auto;
}
.invoice .right_col .top-nav .navbar-right li.dropdown ul.msg_list li {
  position: relative;
  background-color: #f7f7f7;
  padding: 5px;
  margin: 6px 6px 0;
  width: 96%;
}
.invoice .right_col .top-nav .navbar-right li.dropdown ul.msg_list li a {
  width: 100%;
  color: #5A738E;
}
.invoice .right_col .top-nav .navbar-right li.dropdown ul.msg_list li a span {
  white-space: normal;
}
.invoice .right_col .top-nav .navbar-right li.dropdown ul.msg_list li a .image,
.invoice .right_col .top-nav .navbar-right li.dropdown ul.msg_list li a .name {
  cursor: pointer;
}
.invoice .right_col .top-nav .navbar-right li.dropdown ul.msg_list li a .image img {
  float: left;
  margin-right: 10px;
  width: 11%;
}
.invoice .right_col .top-nav .navbar-right li.dropdown ul.msg_list li a .time {
  font-size: 13px;
  font-style: italic;
  font-weight: 700;
  position: absolute;
  right: 35px;
}
.invoice .right_col .top-nav .navbar-right li.dropdown ul.msg_list li a .msg {
  display: block;
  font-size: 13px;
  font-style: italic;
}
.invoice .right_col .top-nav .navbar-right li.dropdown ul.msg_list li .text-center a {
  text-decoration: none;
}
.invoice .right_col .top-nav .navbar-right li.dropdown ul.msg_list li:hover {
  background-color: none;
}
.invoice .right_col .top-nav .navbar-right li.dropdown .info-number .badge {
  font-size: 13px;
  line-height: 13px;
  padding: 2px 6px;
  position: absolute;
  right: 2px;
  top: 8px;
  background-color: #1ABB9C;
  border: 1px solid #1ABB9C;
  color: #fff;
}
.invoice .right_col .main-content {
  color: #73879C;
}
.invoice .right_col .main-content .content {
  margin-top: 10px;
}
.invoice .right_col .main-content .content .content-left {
  display: inline-block;
}
.invoice .right_col .main-content .content .content-left h3 {
  margin: 12px 0;
}
.invoice .right_col .main-content .content .content-right {
  float: right;
}
.invoice .right_col .main-content .content .content-right .top_search {
  padding: 0;
  margin: 10px 0;
}
.invoice .right_col .main-content .content .content-right .top_search .input-group {
  margin-bottom: 10px;
}
.invoice .right_col .main-content .content .content-right .top_search .form-control {
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.075);
  border-radius: 25px 0 0 25px;
  padding-left: 20px;
  border: 1px solid rgba(221,226,232,0.49);
}
.invoice .right_col .main-content .content .content-right .top_search .input-group-btn button {
  border-radius: 0 25px 25px 0;
  border: 1px solid rgba(221,226,232,0.49);
  border-left: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  color: #93A2B2;
  margin-bottom: 0 !important;
}
.invoice .right_col .main-content .admin-panel {
  width: 100%;
  padding: 10px 17px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #E6E9ED;
  opacity: 1;
  transition: all .2s ease;
  margin-bottom: 27px;
  position: relative;
}
.invoice .right_col .main-content .admin-panel .admin-title {
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}
.invoice .right_col .main-content .admin-panel .admin-title h3 {
  margin: 5px 0 6px;
  float: left;
  display: block;
  font-size: 18px;
}
.invoice .right_col .main-content .admin-panel .admin-title h3 small {
  margin-left: 5px;
}
.invoice .right_col .main-content .admin-panel .admin-title ul.items {
  margin-right: 0;
  min-width: 70px;
  float: right;
  list-style: none;
  margin-top: 5px;
}
.invoice .right_col .main-content .admin-panel .admin-title ul.items li {
  float: left;
  cursor: pointer;
}
.invoice .right_col .main-content .admin-panel .admin-title ul.items li a {
  padding: 5px;
  color: #C5C7CB;
  font-size: 13px;
}
.invoice .right_col .main-content .admin-panel .admin-title ul.items li.dropdown ul.dropdown-menu {
  min-width: 0px !important;
}
.invoice .right_col .main-content .admin-panel .admin-title ul.items .collapse-link,
.invoice .right_col .main-content .admin-panel .admin-title ul.items .close-link {
  opacity: 1;
}
.invoice .right_col .main-content .admin-panel .admin-content {
  margin: 25px 8px;
}
.invoice .right_col .main-content .admin-panel .admin-content h3 {
  color: #777;
}
.invoice .right_col .main-content .admin-panel .admin-content table {
  margin-top: 10px;
  margin-bottom: 15px;
}
.invoice .right_col .main-content .admin-panel .admin-content .box-note {
  margin-top: 8px;
  background-color: #f5f5f5;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  margin-bottom: 35px;
}
.invoice .right_col .main-content .admin-panel .admin-content .btn-print {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 5px;
  margin-top: 15px;
}
.invoice .right_col .main-content .admin-panel .admin-content .btn-print:hover {
  background-color: #f5f5f5;
}
.invoice .right_col .main-content .admin-panel .admin-content .btn-function {
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}
.invoice .right_col .main-content .admin-panel .admin-content .btn-download-pdf {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.invoice .right_col .main-content .admin-panel .admin-content .btn-download-pdf:hover {
  background-color: #2e6da4;
}
.invoice .right_col .main-content .admin-panel .admin-content .btn-submit-payment {
  background-color: #5cb85c;
  border-color: #4cae4c;
  margin-left: 8px;
}
.invoice .right_col .main-content .admin-panel .admin-content .btn-submit-payment:hover {
  background-color: #4cae4c;
}
.invoice footer {
  padding: 12px;
  color: #5A738E;
  background: #fff;
  text-align: right;
}
.invoice footer a {
  text-decoration: none;
  color: #5A738E;
}
.invoice footer a:hover {
  text-decoration: none;
}
.invoice #back-to-top {
  border: 1px solid #4adcff;
  background: #24bde2;
  text-align: center;
  padding: 5px;
  position: fixed;
  bottom: 25px;
  right: 10px;
  cursor: pointer;
  display: none;
  color: #fff;
  font-size: 11px;
}
.invoice #back-to-top:hover {
  border: 1px solid #ffa789;
  background: #ff6734;
}
.invoice.toggled {
  margin-left: -190px;
}
.invoice.toggled .nav-sidemenu {
  display: none;
}
.invoice.toggled .nav-sidemenu .hidden-small {
  opacity: 1 !important;
}
.invoice.toggled .right_col {
  background: #f5f5f5 !important;
}
.invoice.toggled .nav_response {
  display: block;
  margin-left: 190px;
}
.invoice.toggled .nav_response .logo-res {
  border: 1px solid #fff;
  border-radius: 50px;
  margin-top: 14px;
  width: 47px !important;
}
.invoice.toggled .nav_response .logo-res a {
  font-size: 30px;
  color: #ffffff;
  margin-left: 8px;
}
.invoice.toggled .nav_response nav.menu-res {
  text-align: center;
}
.invoice.toggled .nav_response nav.menu-res ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.invoice.toggled .nav_response nav.menu-res ul li.dropdown {
  margin: 25px 0;
}
.invoice.toggled .nav_response nav.menu-res ul li.dropdown a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}
.invoice.toggled .nav_response nav.menu-res ul li.dropdown a i {
  font-size: 25px;
}
.invoice.toggled .nav_response nav.menu-res ul li.dropdown a small {
  font-size: 10px;
}
.invoice.toggled .nav_response nav.menu-res ul li.dropdown ul.dropdown-menu {
  position: absolute;
  top: 0;
  margin-left: 50px;
  padding: 0;
  border-right: 3px solid #1ABB9C;
}
.invoice.toggled .nav_response nav.menu-res ul li.dropdown ul.dropdown-menu li {
  width: 200px !important;
  text-align: left;
  background-color: #2A3F54;
  padding: 3px 0;
}
.invoice.toggled .nav_response nav.menu-res ul li.dropdown ul.dropdown-menu li a:hover {
  background-color: rgba(255,255,255,0.05);
}
.invoice.toggled .nav_response nav.menu-res ul li.dropdown .label {
  margin-right: -5px;
  font-size: 7px;
  padding: 2px 0;
}
@media (max-width: 1310px) {
  .invoice {
    background-color: #2A3F54;
  }
  .invoice .nav-sidemenu {
    display: none;
  }
  .invoice .right_col {
    width: 100% !important;
  }
  .invoice .nav_response {
    display: none;
  }
  .invoice .logo-res {
    margin: 10px -3px;
  }
  .invoice .menu-res {
    margin: 35px 0;
  }
  .invoice.toggled {
    background-color: #2A3F54;
    margin-left: 75px;
  }
  .invoice.toggled .nav-sidemenu {
    display: none;
  }
  .invoice.toggled .nav_response {
    display: block;
    position: absolute;
    top: 0;
    left: -245px;
    width: 45px;
  }
  .invoice.toggled .nav_response ul li.dropdown ul.dropdown-menu {
    margin-left: 54px !important;
  }
}
@media (max-width: 980px) {
  .invoice {
    background-color: #2A3F54 !important;
  }
  .right_col {
    transition: none !important;
  }
  .right_col .navbar-right li.dropdown ul.dropdown-menu {
    margin-left: -16px;
  }
}
body {
  background-color: #2A3F54 !important;
}
@media (min-width: 980px) {
  .nav-sidemenu .nav_logo {
    white-space: nowrap;
  }
  .nav-sidemenu .nav_mainmenu ul.menu-list {
    display: block;
  }
  .logo-res {
    margin: 10px;
  }
  .menu-res {
    margin: 35px 12px;
  }
  .nav_response {
    display: none;
  }
  .right_col {
    transition: none !important;
  }
}
